@page "/FigureTypes/Edit/{id:int}"

@using Memorabilia.Application.Features.Admin
@using Memorabilia.Application.Features.Admin.FigureType
@using Memorabilia.Web.Controls.FigureType

@inject CommandRouter _commandRouter
@inject QueryRouter _queryRouter

@if (_viewModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <_FigureTypeEditor EditModeType="@_editModeType" 
                       Item="@_viewModel"                  
                       OnSave="Save" />
}

@code {
    [Parameter]
    public int Id { get; set; }

    private EditModeType _editModeType;
    private SaveDomainViewModel _viewModel = new SaveDomainViewModel();    

    protected override async Task OnInitializedAsync()
    {
        var query = new GetFigureType.Query(Id);

        _viewModel = new SaveDomainViewModel(await _queryRouter.Send(query).ConfigureAwait(false));
    }

    protected async Task Save()
    {
        var command = new SaveFigureType.Command(_viewModel);

        await _commandRouter.Send(command).ConfigureAwait(false);
    }
}
