<DivPad2>
    <Text Typography="Typo.h3">
        Transaction Processed Successfully!
    </Text>
    <br />
    <br />
    <br />
    <br />
    <Text Typography="Typo.h6">
        <span>Your order confirmation number is: <b>@(EditModel.OrderId)</b>.</span>
    </Text>    
</DivPad2>
