<MudDialog Style="@Style.Dialog">
    <DialogContent>
        <Div Style="@Style.RightAlign">
            <IconButton Icon="@Icons.Material.Filled.Close"
                        OnClick="Cancel" />
        </Div>
        <DivPad2>
            <MemorabiliaFilter InitialAcquistionTypeIds="AcquisitionTypeIds"
                               OnFilter="OnFilter" />
            <MemorabiliaDetailGrid CanSelect="true"
                                   Filter="_filter"
                                   MemorabiliaSelected="@((p) => SelectedMemorabilia = p)"
                                   ShowActions="false" />
        </DivPad2>
    </DialogContent>
    <DialogActions>
        <CancelButton OnClick="Cancel" />
        <AddButton OnClick="Add" />
    </DialogActions>
</MudDialog>
