<Div Style="margin-top:1%;margin-bottom:1%;margin-left:1%;margin-right:1%;">
    <AlertPanel Alerts="ValidationResultAlerts" />
    <Div Class="row">
        <Div Class="col-3">
            <Text Typography="Typo.h3">
                Transaction Details
            </Text>
        </Div>
    </Div>
    <DivRowFormGroup>
        <Div Class="col-3">
            <MudDatePicker @bind-Date="EditModel.TransactionDate"
                           DateFormat="MM/dd/yyyy"
                           Editable="true"
                           Label="Transaction Date"
                           Mask="@(new DateMask("MM/dd/yyyy"))"
                           Variant="Variant.Outlined" />
        </Div>
        <Div Class="col-3">
            <TransactionTypeDropDown SelectedValue="EditModel.TransactionTypeId"
                                     SelectionChanged="(p) => EditModel.TransactionTypeId = p" />
        </Div>
    </DivRowFormGroup>
    <DivRowFormGroup Visible="@(EditModel.TransactionTypeId == Constant.TransactionType.PartialTrade.Id)">
        <Div Class="col-6">
            <Stack>
                <LeftRightSection>
                    <Right>
                        <AddButton OnClick="AddPartialTradeMemorabilia"
                                   Text="Add Partial Trade" />
                    </Right>
                </LeftRightSection>
                <PartialTradesEditGrid PartialTrades="EditModel.Trades.Where(trade => trade.TransactionType.Id == Constant.TransactionType.PartialTrade.Id).ToList()" />
            </Stack>
        </Div>
    </DivRowFormGroup>
    <DivRowFormGroup Visible="@(EditModel.TransactionTypeId == Constant.TransactionType.Sale.Id)">
        <Div Class="col-6">
            <Stack>
                <LeftRightSection>
                    <Right>
                        <AddButton OnClick="AddSaleMemorabilia"
                                   Text="Add Sale" />
                    </Right>
                </LeftRightSection>
                <SalesEditGrid Sales="EditModel.Sales" />
            </Stack>
        </Div>
    </DivRowFormGroup>
    <DivRowFormGroup Visible="@(EditModel.TransactionTypeId == Constant.TransactionType.Trade.Id)">
        <Div Class="col-6">
            <Stack>
                <LeftRightSection>
                    <Right>
                        <AddButton OnClick="AddTradeMemorabilia"
                                   Text="Add Trade" />
                    </Right>
                </LeftRightSection>
                <TradesEditGrid Trades="EditModel.Trades.Where(trade => trade.TransactionType.Id == Constant.TransactionType.Trade.Id).ToList()" />
            </Stack>
        </Div>
    </DivRowFormGroup>
    <DivRowFormGroup>
        <Div Class="col-6">
            <LeftRightSection>
                <Right>
                    <RowStack>
                        <SaveButton OnClick="OnSave"
                                    Text="Save" />
                        <SaveButton OnClick="OnSaveClose"
                                    Text="Save & Close" />
                    </RowStack>                    
                </Right>
            </LeftRightSection>
        </Div>
    </DivRowFormGroup>
</Div>


