@inherits MemorabiliaItem<PhotoEditModel>

<EditMemorabiliaPage EditModel="EditModel"
                     OnSave="OnSave" 
                     TItem="PhotoEditModel">
    <Content>
        <MemorabiliaItemEditor DisplayItemTypeGameStyle="false" 
                               DisplayItemTypeLevel="false"
                               DisplayMultiPersonSelector="true"
                               DisplayMultiSportSelector="true"
                               DisplayMultiTeamSelector="true"
                               Model="EditModel"
                               TItem="PhotoEditModel">
            <AdditionalContent>
                <DivRowFormGroup>
                    <Div Class="col-3">
                        <PhotoTypeDropDown SelectedValue="EditModel.PhotoTypeId"
                                           SelectionChanged="(p) => EditModel.PhotoTypeId = p" />
                    </Div>
                    <Div Class="col-3">
                        <OrientationDropDown SelectedValue="EditModel.OrientationId"
                                             SelectionChanged="(p) => EditModel.OrientationId = p" />
                    </Div>
                </DivRowFormGroup>
                <DivRowFormGroup>
                    <Div Class="col-3">
                        <Switch Checked="@EditModel.Matted"
                                CheckedChanged="(p) => EditModel.Matted = p"
                                Label="Is Matted?" />
                    </Div>
                </DivRowFormGroup>
            </AdditionalContent>
        </MemorabiliaItemEditor>
    </Content>
</EditMemorabiliaPage>