<DivRowFormGroup>
    <Div Class="@DivClass.Column6">
        <TextField Id="address"
                   MaxLength="MaxLength"
                   SelectedText="@SelectedAddress"
                   SelectedTextChanged="@((p) => SelectedAddress = p)" />
    </Div>
</DivRowFormGroup>
