@inherits EditItem<ItemTypeSportEditModel, ItemTypeSportModel>

<PageEditor DisplaySaveContinueButton="false"
            PageImageFileName="@EditModel.ImageFileName"
            EditModel="EditModel"
            OnSave="Save"
            TItem="ItemTypeSportEditModel">
    <DivRowFormGroup>
        <Div Class="col-3">
            <ItemTypeAutoComplete Disabled="@(EditModel.Id > 0)" 
                                  SelectedValue="EditModel.ItemType"
                                  SelectionChanged="(p) => EditModel.ItemType = p" />
        </Div>
    </DivRowFormGroup>
    <DivRowFormGroup>
        <Div Class="col-3">
            <SportDropDown SelectedValue="EditModel.SportId"
                           SelectionChanged="(p) => EditModel.SportId = p" />
        </Div>
    </DivRowFormGroup>
</PageEditor>