@page "/BasketballTypes/Edit/{id:int}"

@using Memorabilia.Application.Features.Admin
@using Memorabilia.Application.Features.Admin.BasketballType
@using Memorabilia.Web.Controls.Basketball

@inject CommandRouter _commandRouter
@inject ProtectedLocalStorage _localStorage
@inject NavigationManager _navigation
@inject QueryRouter _queryRouter
@inject IToastService _toastService

@if (_viewModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <_BasketballTypeEditor EditModeType="@_editModeType" 
                           Item="@_viewModel"                  
                           OnSave="Save" />
}

@code {
    [Parameter]
    public int Id { get; set; }

    private EditModeType _editModeType;
    private SaveDomainViewModel _viewModel = new SaveDomainViewModel();    

    protected override async Task OnInitializedAsync()
    {
        _editModeType = Id > 0 ? EditModeType.Update : EditModeType.Add;

        if (Id == 0)
            return;

        var query = new GetBasketballType.Query(Id);

        _viewModel = new SaveDomainViewModel(await _queryRouter.Send(query).ConfigureAwait(false));
    }

    protected async Task Save()
    {
        var command = new SaveBasketballType.Command(_viewModel);

        await _commandRouter.Send(command).ConfigureAwait(false);
    }
}
