<Div Style="display:flex;align-items:center;">
    <Div Class="@DivClass.Row">
        <Div Class="@DivClass.Column12"
             Style="@Style.CenterAlign">
             <RowStack>
                <CustomButton OnClick="Login"
                              Text="Login" />
                <CustomButton OnClick="Register"
                              Text="Register" />
             </RowStack>            
        </Div>
    </Div>
</Div>
