@using Memorabilia.Domain.Constants

<InputSelect id="baseballType" class="form-control" @bind-Value="@Value" @oninput="@OnInputChange" >
    <option value="0">--Select--</option>
    @foreach (var baseballType in _baseballTypes)
    {
        <option value="@baseballType.Id">@baseballType.Name</option>
    }
</InputSelect>

@code {
    [Parameter]
    public GameStyleType GameStyleType
    {
        get
        {
            return _gameStyleType;
        }
        set
        {
            _gameStyleType = value;
            _baseballTypes = value != null ? BaseballType.GetAll(GameStyleType.Find(value.Id)) : BaseballType.All;
        }
    }

    [Parameter]
    public int Value { get; set; }

    [Parameter]
    public EventCallback<int> ValueChanged { get; set; }

    private BaseballType[] _baseballTypes;
    private GameStyleType _gameStyleType;

    protected override Task OnInitializedAsync()
    {
        _baseballTypes = BaseballType.GetAll(GameStyleType);

        return base.OnInitializedAsync();
    }

    private async Task OnInputChange(ChangeEventArgs args)
    {
        Value = Convert.ToInt32(args.Value);
        await ValueChanged.InvokeAsync(Value).ConfigureAwait(false);
    }
}

