@using Memorabilia.Domain.Constants

<InputSelect id="footballType" class="form-control" @bind-Value="@Value" @oninput="@OnInputChange" >
    <option value="0">--Select--</option>
    @foreach (var footballType in _footballTypes)
    {
        <option value="@footballType.Id">@footballType.Name</option>
    }
</InputSelect>

@code {
    [Parameter]
    public GameStyleType GameStyleType
    {
        get
        {
            return _gameStyleType;
        }
        set
        {
            _gameStyleType = value;
            _footballTypes = value != null ? FootballType.GetAll(GameStyleType.Find(value.Id)) : FootballType.All;
        }
    }

    [Parameter]
    public int Value { get; set; }

    [Parameter]
    public EventCallback<int> ValueChanged { get; set; }

    private FootballType[] _footballTypes;
    private GameStyleType _gameStyleType;

    protected override Task OnInitializedAsync()
    {
        _footballTypes = FootballType.GetAll(GameStyleType);

        return base.OnInitializedAsync();
    }

    private async Task OnInputChange(ChangeEventArgs args)
    {
        Value = Convert.ToInt32(args.Value);
        await ValueChanged.InvokeAsync(Value).ConfigureAwait(false);
    }
}

