@page "/Register"

@using Memorabilia.Application.Features.User.Register

@inject CommandRouter _commandRouter
@inject ProtectedLocalStorage _localStorage
@inject NavigationManager _navigation

@if (_viewModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            <h1>@_viewModel.PageTitle</h1>
        </div>
    </div>
    <br />
    <div class="row">
        <EditForm Model="_viewModel" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label for="username">User Name</label>
                <InputText id="username" @bind-Value="_viewModel.Username" class="form-control" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <InputText id="password" type="password" @bind-Value="_viewModel.Password" class="form-control" />
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <InputText id="confirmPassword" type="password" @bind-Value="_viewModel.ConfirmPassword" class="form-control" />
            </div>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <InputText id="firstName" @bind-Value="_viewModel.FirstName" class="form-control" />
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <InputText id="lastName" @bind-Value="_viewModel.LastName" class="form-control" />
            </div>
            <div class="form-group">
                <label for="emailAddress">Email Address</label>
                <InputText id="emailAddress" @bind-Value="_viewModel.EmailAddress" class="form-control" />
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <InputText id="phoneNumber" @bind-Value="_viewModel.Phone" class="form-control" />
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
            <ValidationSummary />
        </EditForm>
    </div>
}

@code {
    private SaveUserViewModel _viewModel = new SaveUserViewModel();

    protected EditContext MyEditContext { get; set; }

    protected async Task HandleValidSubmit()
    {
        var command = new AddUser.Command(_viewModel);

        await _commandRouter.Send(command).ConfigureAwait(false);

        //Set user id in local storage

        _navigation.NavigateTo("Home");
    }

    protected override void OnInitialized()
    {
        MyEditContext = new EditContext(_viewModel);
    }
}
