<PageHeader PageTitle="@Model.PageTitle" />
<Div Class="row">
    <Iterations Context="userDashboardItem"
                Items="Model.UserDashboardItems">
        <Div Class="col-4">
            <DynamicComponent Parameters="@(GetParameters(userDashboardItem.DashboardItem))"
                              Type="@(GetComponent(userDashboardItem.DashboardItem))" />
        </Div>
    </Iterations>
</Div>

