@typeparam TItemType

<Div Class="d-flex ms-1 flex-row">
    <Iterations Context="option"
                Items="CheckboxNames" >
        <Div Class="form-check me-4">
            <input @onchange="(e) => CheckChanged(option, e)" 
                   checked="@(option == SelectedOptionCheckedValue(SelectedOption))"
                   class="form-check-input"
                   type="checkbox"                   
                   value="@(option == SelectedOptionValue(SelectedOption))" />
            <label class="form-check-label">
                @option
            </label>
        </Div>
    </Iterations>
</Div>