<Div Class="d-flex ms-1 flex-row"
     Style="@($"{Style.MarginBottomPad1}{Style.MarginTopPad1}")">
    <Div>
        <TeamSearchAutoComplete SelectedValue="SelectedTeam"
                                SelectionChanged="(p) => SelectedTeam = p" />
    </Div>
    <Div Style="padding-left: 10px; padding-top: 12px;">
        <AddButton OnClick="Add"
                   Text="Add Team" />
    </Div>
</Div>
<Div Class="d-flex ms-1 flex-row"
     Style="margin-top: 3%; margin-bottom: 1%;">
    <MudTable Bordered="false"
              Dense="false"
              Hover="true"
              Items="SelectedTeams.ToList()"
              Striped="true">
        <HeaderContent>
            <MudTh>Selected Teams</MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Team">@context.ToString()</MudTd>
            <TableDataRightAligned>
                <DeleteGridButton OnDelete="@(_ => RemoveTeam(context))" />
            </TableDataRightAligned>
        </RowTemplate>
    </MudTable>
</Div>