
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/Memorabilia/.vs/Memorabilia/v17/.suo
/Memorabilia/.vs/Memorabilia/config/applicationhost.config
/Memorabilia/.vs/Memorabilia/v17/.suo
/Memorabilia/Memorabilia.Web/obj/Debug/net5.0/project.razor.json
/Memorabilia/.vs/Memorabilia/v17/.suo
/Memorabilia/Memorabilia.Web/bin/Debug/net5.0/Memorabilia.Web.dll
/Memorabilia/Memorabilia.Web/bin/Debug/net5.0/Memorabilia.Web.pdb
/Memorabilia/Memorabilia.Web/bin/Debug/net5.0/Memorabilia.Web.Views.dll
/Memorabilia/Memorabilia.Web/bin/Debug/net5.0/Memorabilia.Web.Views.pdb
/Memorabilia/Memorabilia.Web/obj/Debug/net5.0/Memorabilia.Web.dll
/Memorabilia/Memorabilia.Web/obj/Debug/net5.0/Memorabilia.Web.pdb
/Memorabilia/Memorabilia.Web/obj/Debug/net5.0/Memorabilia.Web.Views.dll
/Memorabilia/Memorabilia.Web/obj/Debug/net5.0/Memorabilia.Web.Views.pdb
/Memorabilia/Memorabilia.Web/obj/Debug/net5.0/RazorDeclaration/Memorabilia.Web.dll
/Memorabilia/Memorabilia.Web/obj/Debug/net5.0/RazorDeclaration/Memorabilia.Web.pdb
/Memorabilia/.vs/Memorabilia/DesignTimeBuild/.dtbcache.v2
/Memorabilia/.vs/Memorabilia/DesignTimeBuild/.dtbcache.v2
/Memorabilia/.vs/Memorabilia/v17/.futdcache.v1
/Memorabilia/.vs/Memorabilia/v17/.suo
/Memorabilia/.vs/Memorabilia/DesignTimeBuild/.dtbcache.v2
/Memorabilia/.vs/Memorabilia/DesignTimeBuild/.dtbcache.v2
/Memorabilia/.vs/Memorabilia/v17/.suo
/Memorabilia/.vs/Memorabilia/DesignTimeBuild/.dtbcache.v2
/Memorabilia/Memorabilia.Domain/obj/Memorabilia.Domain1.csproj.nuget.g.targets
/Memorabilia/Memorabilia.Domain/obj/Memorabilia.Domain1.csproj.nuget.g.props
/Memorabilia/Memorabilia.Domain/obj/Memorabilia.Domain1.csproj.nuget.dgspec.json
/Memorabilia/Memorabilia.Domain/obj/project.assets.json
/Memorabilia/Memorabilia.Web/bin/Debug/net5.0/ref/Memorabilia.Web.dll
/Memorabilia/Memorabilia.Web/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
/Memorabilia/Memorabilia.Web/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/Memorabilia/Memorabilia.Web/bin/Debug/net5.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
/Memorabilia/Memorabilia.Web/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/Memorabilia/Memorabilia.Web/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
/Memorabilia/Memorabilia.Web/obj/Debug/net5.0/Razor/Controls/_Summary.razor.g.cs
/Memorabilia/Memorabilia.Web/obj/Debug/net5.0/Razor/Controls/_CheckBoxList.razor.g.cs
/Memorabilia/Memorabilia.Web/obj/Debug/net5.0/Razor/Pages/Admin/AcquisitionTypes/EditAcquisitionType.razor.g.cs
/Memorabilia/Memorabilia.Web/obj/Debug/net5.0/Razor/Pages/Admin/AcquisitionTypes/AcquisitionTypes.razor.g.cs
/Memorabilia/Memorabilia.Web/obj/Debug/net5.0/scopedcss/Shared/NavMenu.razor.rz.scp.css
/Memorabilia/Memorabilia.Web/obj/Debug/net5.0/scopedcss/Shared/MainLayout.razor.rz.scp.css
/Memorabilia/Memorabilia.Web/obj/Debug/net5.0/RazorDeclaration/Pages/Admin/Teams/Teams.razor.g.cs
/Memorabilia/Memorabilia.Web/obj/Debug/net5.0/RazorDeclaration/Pages/Admin/Teams/EditTeam.razor.g.cs
/Memorabilia/Memorabilia.Web/obj/Debug/net5.0/RazorDeclaration/Pages/Admin/Teams/AddTeam.razor.g.cs
/Memorabilia/Memorabilia.Web/obj/Debug/net5.0/RazorDeclaration/Pages/Admin/Commissioners/EditCommissioner.razor.g.cs
/Memorabilia/Memorabilia.Web/obj/Debug/net5.0/RazorDeclaration/Pages/Admin/Commissioners/Commissioners.razor.g.cs
/Memorabilia/Memorabilia.Web/obj/Debug/net5.0/RazorDeclaration/Pages/Admin/Commissioners/AddCommissioner.razor.g.cs
/Memorabilia/Memorabilia.Web/obj/Debug/net5.0/RazorDeclaration/Pages/Admin/BaseballTypes/EditInscriptionType.razor.g.cs
/Memorabilia/Memorabilia.Web/obj/Debug/net5.0/RazorDeclaration/Pages/Admin/BaseballTypes/EditBaseballType.razor.g.cs
/Memorabilia/Memorabilia.Web/obj/Debug/net5.0/RazorDeclaration/Pages/Admin/BaseballTypes/BaseballTypes.razor.g.cs
/Memorabilia/Memorabilia.Web/obj/Debug/net5.0/Razor/Pages/Admin/AuthenticationCompanies/EditAuthenticationCompany.razor.g.cs
/Memorabilia/Memorabilia.Web/obj/Debug/net5.0/Razor/Pages/Admin/AuthenticationCompanies/AuthenticationCompanies.razor.g.cs
