
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/Memorabilia/.vs/Memorabilia/v17/.suo
/Memorabilia/.vs/Memorabilia/config/applicationhost.config
/Memorabilia/.vs/Memorabilia/v17/.suo
/Memorabilia/Memorabilia.Web/obj/Debug/net5.0/project.razor.json
/Memorabilia/.vs/Memorabilia/v17/.suo
/Memorabilia/Memorabilia.Web/bin/Debug/net5.0/Memorabilia.Web.dll
/Memorabilia/Memorabilia.Web/bin/Debug/net5.0/Memorabilia.Web.pdb
/Memorabilia/Memorabilia.Web/bin/Debug/net5.0/Memorabilia.Web.Views.dll
/Memorabilia/Memorabilia.Web/bin/Debug/net5.0/Memorabilia.Web.Views.pdb
/Memorabilia/Memorabilia.Web/obj/Debug/net5.0/Memorabilia.Web.dll
/Memorabilia/Memorabilia.Web/obj/Debug/net5.0/Memorabilia.Web.pdb
/Memorabilia/Memorabilia.Web/obj/Debug/net5.0/Memorabilia.Web.Views.dll
/Memorabilia/Memorabilia.Web/obj/Debug/net5.0/Memorabilia.Web.Views.pdb
/Memorabilia/Memorabilia.Web/obj/Debug/net5.0/RazorDeclaration/Memorabilia.Web.dll
/Memorabilia/Memorabilia.Web/obj/Debug/net5.0/RazorDeclaration/Memorabilia.Web.pdb
