@inherits MemorabiliaItem<CanvasEditModel>

<EditMemorabiliaPage EditModel="EditModel"
                     OnSave="OnSave" 
                     TItem="CanvasEditModel">
    <Content>
        <MemorabiliaItemEditor DisplayItemTypeGameStyle="false"
                               DisplayItemTypeLevel="false"
                               DisplayMultiPersonSelector="true"
                               DisplayMultiSportSelector="true"
                               DisplayMultiTeamSelector="true"
                               Model="EditModel"
                               TItem="CanvasEditModel">
            <AdditionalContent>
                <DivRowFormGroup>
                    <Div Class="col-3">
                        <OrientationDropDown SelectedValue="EditModel.OrientationId"
                                             SelectionChanged="(p) => EditModel.OrientationId = p" />
                    </Div>                    
                </DivRowFormGroup>
                <DivRowFormGroup>
                    <Div Class="col-3">
                        <MudSwitch Checked="@EditModel.Matted"
                                   CheckedChanged="(p) => EditModel.Matted = p"
                                   Color="MudBlazor.Color.Success"
                                   Label="Matted?"
                                   T="bool" />
                    </Div>
                    <Div Class="col-3">
                        <MudSwitch Checked="@EditModel.Stretched"
                                   CheckedChanged="(p) => EditModel.Stretched = p"
                                   Color="MudBlazor.Color.Success"
                                   Label="Stretched?"
                                   T="bool" />
                    </Div>
                </DivRowFormGroup>
            </AdditionalContent>
        </MemorabiliaItemEditor>
    </Content>
</EditMemorabiliaPage>