<DivRowFormGroup>
    <LeftRightSection RightStyle="@Style.MarginRightPad2">
        <Right>
            <RowStack>
                <Switch Checked="_displayCompleted"
                        CheckedChanged="(p) => _displayCompleted = p"
                        Label="Display Completed?" />
                <CustomButton OnClick="OnImport"
                              Text="Import"
                              Visible="@CanImport" />
                <CustomButton Color="MudBlazor.Color.Success" 
                              OnClick="AddProjectPerson"
                              Text="Add Project Person" />
            </RowStack>
        </Right>
    </LeftRightSection>
</DivRowFormGroup>
<Div Style="@Style.MarginRightPad1">
    <ProjectPersonGrid AllItems="Model.People"
                       Items="Model.People.Where(person => _displayCompleted || person.ProjectStatusTypeId != ProjectStatusType.Completed.Id).ToList()"
                       ItemTypeId="ItemTypeId" />
</Div>
