<Div Class="row">
    <Div Class="col-3">
        <Text Typography="Typo.h3">
            Baseball Type
        </Text>
    </Div>
</Div>
<Div Class="row">
    <Div Class="col-3">
        <BaseballTypeDropDown Disabled="Disabled" 
                              SelectedValue="BaseballTypeId"
                              SelectionChanged="(p) => BaseballTypeChanged(p)"
                              UseProjectTypes="true" />
    </Div>
    <Div Class="col-3"
         Hidden="@(!IsYearly)">
        <NullableIntField Disabled="Disabled"
                          Label="Year"
                          Value="Year"
                          ValueChanged="@((p) => YearChanged(p))" />
    </Div>
    <Div Class="col-3"
         Hidden="@(!IsTeam)">
        <TeamAutoComplete Disabled="Disabled"
                          SelectedValue="Team"
                          SelectionChanged="(p) => TeamChanged(p)"
                          Sport="Sport.Baseball"
                          SportLeagueLevel="SportLeagueLevel.MajorLeagueBaseball" />
    </Div>
</Div>
