<DivRowCol3>
    <Content>
        <h3>
            Card
        </h3>
    </Content>
</DivRowCol3>
<DivRowCol3>
    <Content>
        <BrandAutoComplete Disabled="Disabled" 
                           SelectedValue="Brand"
                           SelectionChanged="(p) => BrandChanged(p)" />
    </Content>
    <ContentColumn2>
        <NullableIntField Disabled="Disabled" 
                          Label="Year"
                          Value="Year"
                          ValueChanged="@((p) => YearChanged(p))" />
    </ContentColumn2>
    <ContentColumn3>
        <TeamAutoComplete Disabled="Disabled" 
                          SelectedValue="Team"
                          SelectionChanged="(p) => TeamChanged(p)" />
    </ContentColumn3>
</DivRowCol3>
