<Div Class="row">
    <Div Class="col-3">
        <h3>
            Card
        </h3>
    </Div>
</Div>
<Div Class="row">
    <Div Class="col-3">
        <BrandAutoComplete Disabled="Disabled" 
                           SelectedValue="Brand"
                           SelectionChanged="(p) => BrandChanged(p)" />
    </Div>
    <Div Class="col-3">
        <NullableIntField Disabled="Disabled" 
                          Label="Year"
                          Value="Year"
                          ValueChanged="@((p) => YearChanged(p))" />
    </Div>
    <Div Class="col-3">
        <TeamAutoComplete Disabled="Disabled" 
                          SelectedValue="Team"
                          SelectionChanged="(p) => TeamChanged(p)" />
    </Div>
</Div>
