<Div Class="row"
     Style="margin-left:1%;margin-bottom:1%;">
    <RowStack>
        <Switch Checked="@_displayCompleted"
                CheckedChanged="(p) => _displayCompleted = p"
                Label="Display Completed?" />
        <AddButton OnClick="AddProjectPerson"
                   Text="Add Project Person" />
    </RowStack>
</Div>
<Div Style="margin-right:1%;">
    <ProjectPersonGrid AllItems="Model.People"
                       Items="Model.People.Where(person => _displayCompleted || person.ProjectStatusTypeId != ProjectStatusType.Completed.Id).ToList()"
                       ItemTypeId="@ItemTypeId" />
</Div>
