<Div Class="row"
     Style="margin-left:1%;margin-bottom:1%;">
    <MudStack Row="true">
        <MudSwitch Checked="@_displayCompleted"
                   CheckedChanged="(p) => _displayCompleted = p"
                   Color="MudBlazor.Color.Success"
                   Label="Display Completed?"
                   T="bool" />
        <CustomButton OnClick="OnImport"
                      Text="Import" />
        <AddButton OnClick="AddProjectPerson"
                   Text="Add Project Person" />
    </MudStack>
</Div>
<Div Style="margin-right:1%;">
    <ProjectPersonGrid Items="Model.People.Where(person => _displayCompleted || person.ProjectStatusTypeId != ProjectStatusType.Completed.Id).ToList()"
                       ItemTypeId="@Model.HallOfFame.ItemTypeId" />
</Div>
