<Div Class="row">
    <Div Class="col-3">
        <h3>
            Helmet Type
        </h3>
    </Div>
</Div>
<Div Class="row">
    <Div Class="col-3">
        <HelmetTypeDropDown Disabled="Disabled" 
                            SelectedValue="HelmetTypeId"
                            SelectionChanged="(p) => HelmetTypeChanged(p)" />
    </Div>
    <Div Class="col-3">
        <HelmetFinishDropDown Disabled="Disabled"
                              SelectedValue="HelmetFinishId"
                              SelectionChanged="(p) => HelmetFinishId = p" />
    </Div>
    <Div Class="col-3">
        <SizeAutoComplete Disabled="Disabled" 
                          SelectedValue="Size"
                          SelectionChanged="(p) => SizeChanged(p)"
                          Sizes="new Constant.Size[] { Constant.Size.Mini, Constant.Size.Full }" />
    </Div>
</Div>
