<Div Class="row"
     Style="margin-left:1%;margin-bottom:1%;">
    <RowStack>
        <Switch Checked="@_displayCompleted"
                CheckedChanged="(p) => _displayCompleted = p"
                Label="Display Completed?" />
        <CustomButton OnClick="OnImport"
                      Text="Import" />
        <AddButton OnClick="AddProjectMemorabiliaTeam"
                   Text="Add Project Memorabilia Team" />
    </RowStack>
</Div>
<Div Style="margin-right:1%;">
    <ProjectMemorabiliaTeamGrid AllItems="Model.MemorabiliaTeams" 
                                Items="Model.MemorabiliaTeams.Where(item => _displayCompleted || item.ProjectStatusTypeId != ProjectStatusType.Completed.Id).ToList()"
                                ItemTypeId="@ItemTypeId" />
</Div>

