<Div Class="@DivClass.Row">
    <Div Class="@DivClass.Column3">
        <ItemTypeAutoComplete Disabled="Disabled" 
                              SelectedValue="SelectedItemType"
                              SelectionChanged="(p) => ItemTypeChanged(p)" />
    </Div>
    <Div Class="@DivClass.Column3">
        <Switch Checked="MultiSignedItem"
                CheckedChanged="(p) => MultiSignedItemChanged(p)"
                Disabled="Disabled" 
                Label="Multi Signed?" />
    </Div>
</Div>
