<Div Class="row">
    <Div Class="col-3">
        <h3>
            Item Type
        </h3>
    </Div>
</Div>
<Div Class="row">
    <Div Class="col-3">
        <ItemTypeAutoComplete Disabled="Disabled" 
                              SelectedValue="SelectedItemType"
                              SelectionChanged="(p) => ItemTypeChanged(p)" />
    </Div>
    <Div Class="col-3">
        <MudSwitch Checked="@MultiSignedItem"
                   CheckedChanged="(p) => MultiSignedItemChanged(p)"
                   Color="MudBlazor.Color.Success"
                   Disabled="Disabled" 
                   Label="Multi Signed?"
                   T="bool" />
    </Div>
</Div>
