<DivRowFormGroup>
    <LeftRightSection RightStyle="@Style.MarginRightPad2">
        <Right>
            <RowStack>
                <Switch Checked="_displayCompleted"
                        CheckedChanged="(p) => _displayCompleted = p"
                        Label="Display Completed?" />
                <CustomButton OnClick="OnImport"
                              Text="Import" />
                <CustomButton Color="MudBlazor.Color.Success"
                              OnClick="AddProjectMemorabiliaTeam"
                              Text="Add Project Memorabilia Team" />
            </RowStack>
        </Right>
    </LeftRightSection>
</DivRowFormGroup>
<Div Style="@Style.MarginRightPad1">
    <ProjectPersonGrid AllItems="Model.People"
                       Items="Model.People.Where(item => _displayCompleted || item.ProjectStatusTypeId != ProjectStatusType.Completed.Id).ToList()"
                       ItemTypeId="Model.ItemTypeId" />
</Div>

