@using Memorabilia.Application.Features.Admin.ItemTypeSize
@using Memorabilia.Domain.Constants

@inject QueryRouter _queryRouter

<InputSelect class="form-control" id="size" @bind-Value="@Value" @oninput="@OnInputChange">
    <option value="0">--Select--</option>
    @foreach (var size in _sizes)
    {
        <option value="@size.SizeId">@size.SizeName</option>
    }
</InputSelect>

@code {
    [Parameter]
    public Size InitialValue { get; set; }

    [Parameter]
    public ItemType ItemType { get; set; }

    [Parameter]
    public int Value { get; set; }  

    private IEnumerable<ItemTypeSizeViewModel> _sizes = Enumerable.Empty<ItemTypeSizeViewModel>();

    [Parameter]
    public EventCallback<int> ValueChanged { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Load().ConfigureAwait(false);

        if ((InitialValue?.Id ?? 0) > 0)
            Value = InitialValue.Id; 
    }    

    private async Task Load()
    {
        var query = new GetItemTypeSizes.Query(Domain.Constants.ItemType.Baseball.Id);

        _sizes = (await _queryRouter.Send(query).ConfigureAwait(false)).ItemTypeSizes.OrderByDescending(size => size.SizeName);
    }

    private async Task OnInputChange(ChangeEventArgs args)
    {
        Value = Convert.ToInt32(args.Value);
        await ValueChanged.InvokeAsync(Value);
    }
}
