@using Memorabilia.Application.Features.Admin.SportLeagueLevel
@using Memorabilia.Domain.Constants

@inject QueryRouter _queryRouter

<InputSelect id="SportLeagueLevelDropDown" class="form-control" @bind-Value="@Value" @oninput="@OnInputChange">
    <option value="0">--Select--</option>
    @foreach (var sportLeagueLevel in _sportLeagueLevels)
    {
        <option value="@sportLeagueLevel.Id">@sportLeagueLevel.Name</option>
    }
</InputSelect>

@code {    
    [Parameter]
    public int Value { get; set; }  

    private IEnumerable<SportLeagueLevelViewModel> _sportLeagueLevels = Enumerable.Empty<SportLeagueLevelViewModel>();

    [Parameter]
    public EventCallback<int> ValueChanged { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Load().ConfigureAwait(false);
    } 

    private async Task Load()
    {
        var query = new GetSportLeagueLevels.Query();

        _sportLeagueLevels = (await _queryRouter.Send(query).ConfigureAwait(false)).SportLeagueLevels;
    }

    private async Task OnInputChange(ChangeEventArgs args)
    {
        Value = Convert.ToInt32(args.Value);
        await ValueChanged.InvokeAsync(Value);
    }
}
