@inherits MemorabiliaItem<JerseyNumberEditModel>

<EditMemorabiliaPage Item="EditModel"
                     OnSave="OnSave" 
                     TItem="JerseyNumberEditModel">
    <Content>
        <MemorabiliaItemEditor DisplayItemTypeBrand="false"
                               DisplayItemTypeGameStyle="false"
                               DisplayItemTypeLevel="false"
                               DisplayItemTypeSize="false"
                               DisplaySinglePersonSelector="true"
                               DisplaySingleSportSelector="true"
                               DisplaySingleTeamSelector="true"
                               Model="EditModel"
                               TItem="JerseyNumberEditModel">
            <AdditionalContent>
                <Div Class="row">
                    <Div Class="col-3">
                        <NullableIntField Label="Number"
                                          Maximum="99"
                                          Value="EditModel.Number"
                                          ValueChanged="@((p) => EditModel.Number = p)" />
                    </Div>
                </Div>
            </AdditionalContent>
        </MemorabiliaItemEditor>
    </Content>
</EditMemorabiliaPage>