@inherits MemorabiliaItem<FirstDayCoverEditModel>

<EditMemorabiliaPage EditModel="EditModel"
                     OnSave="OnSave" 
                     TItem="FirstDayCoverEditModel">
    <Content>
        <MemorabiliaItemEditor DisplayItemTypeBrand="false"
                               DisplayItemTypeGameStyle="false"
                               DisplayItemTypeLevel="false"
                               DisplayMultiPersonSelector="true"
                               DisplayMultiSportSelector="true"
                               DisplayMultiTeamSelector="true"
                               Model="EditModel"
                               TItem="FirstDayCoverEditModel">
            <AdditionalContent>
                <DivRowFormGroup>
                    <Div Class="col-3">
                        <MudDatePicker @bind-Date="EditModel.Date"
                                       DateFormat="MM/dd/yyyy"
                                       Editable="true"
                                       Label="Date"
                                       Mask="@(new DateMask("MM/dd/yyyy"))"
                                       Variant="Variant.Outlined" />
                    </Div>
                </DivRowFormGroup>
            </AdditionalContent>
        </MemorabiliaItemEditor>   
    </Content>
</EditMemorabiliaPage>