<Stack>
    <Iterations Items="Images">
        <Div Class="@DivClass.Column2">
            <ForumEntryImage Image="context"
                             ImageDeleted="OnImageDeleted" />
        </Div>
    </Iterations>
</Stack>


