<Div Style="margin-top:1%;margin-left:1%;margin-right:1%;">
    <RowStack>
        <Image AllowNavigation="true"             
               Height="70"
               ImageData="@Image.ImageData"
               OnClick="OnImageClick"
               Width="70" />
        <Fab Color="MudBlazor.Color.Secondary"
             OnClick="ShowDeleteConfirm"
             Size="MudBlazor.Size.Small"
             StartIcon="@Icons.Material.Outlined.Delete"
             TooltipText="Delete Image"
             Visible="CanDelete" />
    </RowStack>    
</Div>

