<Div Style="@($"{Style.MarginLeftPad1}{Style.MarginRightPad1}{Style.MarginTopPad1}")">
    <RowStack>
        <Image AllowNavigation="true"             
               Height="70"
               ImageData="@(ImageService.GetUserImageData(Image.ImageFileName, UserId))"
               OnClick="OnImageClick"
               Width="70" />
        <Fab Color="MudBlazor.Color.Secondary"
             OnClick="ShowDeleteConfirm"
             Size="MudBlazor.Size.Small"
             StartIcon="@Icons.Material.Outlined.Delete"
             TooltipText="Delete Image"
             Visible="CanDelete" />
    </RowStack>    
</Div>

