<MudStack>
    <Iterations Items="Images">
        <Div Class="col-2">
            <ForumEntryImage Image="context"
                             ImageDeleted="OnImageDeleted" />
        </Div>
    </Iterations>
</MudStack>


