<div class="row"
     hidden="@Hidden"
     style=@($"margin-top: 1%; margin-bottom: 1%; padding-left: {LeftPadding}px;")>
    <div class="col-lg-6">
        @Content 
    </div>     
    <div class="col-lg-6">
        @ContentColumn2 
    </div> 
</div>
