@inherits ImagePage

<div style="border: 1px solid black; margin-top: 2%; margin-bottom: 2%; margin-left: 2%; margin-right: 2%;">
    <MudExpansionPanel IsExpanded="false" 
                       Text="@PanelText">
        <div class="row" style="margin-top: 2%; margin-bottom: 2%;">
            <Iterations Items="ImageNames" Context="imageName">
                <div class="col-3">
                    <MudImage Class="rounded-lg"
                              Elevation="5"
                              Height="200"
                              ObjectFit="@ObjectFit.Fill"
                              Src="@(GetImageData(imageName))"
                              Width="200" />
                </div>
            </Iterations>
        </div>        
    </MudExpansionPanel>
</div>