@using Memorabilia.Application.Features.Admin.HelmetQualityType
@using Memorabilia.Domain.Constants

<InputSelect id="HelmetQualityTypeDropDown" class="form-control" @bind-Value="@Value" @oninput="OnInputChange" >
    <option value="0">--Select--</option>
    @foreach (var helmetQualityType in HelmetQualityType.All)
    {
        <option value="@helmetQualityType.Id">@helmetQualityType.Name</option>
    }
</InputSelect>

@code {
    [Parameter]
    public HelmetQualityType InitialValue { get; set; }

    [Parameter]
    public int Value { get; set; }

    [Parameter]
    public EventCallback<int> ValueChanged { get; set; }

    protected override Task OnInitializedAsync()
    {
        if ((InitialValue?.Id ?? 0) > 0)
            Value = InitialValue.Id;

        return base.OnInitializedAsync();
    }

    private async Task OnInputChange(ChangeEventArgs args)
    {
        Value = Convert.ToInt32(args.Value);
        await ValueChanged.InvokeAsync(Value).ConfigureAwait(false);
    }
}