@using Memorabilia.Application.Features.Admin.HelmetType
@using Memorabilia.Domain.Constants

<InputSelect id="HelmetTypeDropDown" class="form-control" @bind-Value="@Value" @oninput="OnInputChange" >
    <option value="0">--Select--</option>
    @foreach (var helmetType in _helmetTypes)
    {
        <option value="@helmetType.Id">@helmetType.Name</option>
    }
</InputSelect>

@code {
    [Parameter]
    public GameStyleType GameStyleType
    {
        get
        {
            return _gameStyleType;
        }
        set
        {
            _gameStyleType = value;
            _helmetTypes = value != null ? HelmetType.GetAll(GameStyleType.Find(value.Id)) : HelmetType.All;
        }
    }

    [Parameter]
    public HelmetType InitialValue { get; set; }

    [Parameter]
    public int Value { get; set; }

    [Parameter]
    public EventCallback<int> ValueChanged { get; set; }

    private HelmetType[] _helmetTypes;
    private GameStyleType _gameStyleType;

    protected override Task OnInitializedAsync()
    {
        _helmetTypes = HelmetType.GetAll(GameStyleType);

        if ((InitialValue?.Id ?? 0) > 0)
            Value = InitialValue.Id;

        return base.OnInitializedAsync();
    }

    private async Task OnInputChange(ChangeEventArgs args)
    {
        Value = Convert.ToInt32(args.Value);
        await ValueChanged.InvokeAsync(Value).ConfigureAwait(false);
    }
}