<InputSelect id="ColorDropDown" class="form-control" @bind-Value="@Value" @oninput="@OnInputChange" >
    <option value="0">--Select--</option>
    @foreach (var color in _colors)
    {
        <option value="@color.Id">@color.Name</option>
    }
</InputSelect>

@code {
    [Parameter]
    public Color InitialValue { get; set; }

    [Parameter]
    public ItemType ItemType { get; set; }

    [Parameter]
    public bool UseAutographColors { get; set; }

    [Parameter]
    public int Value { get; set; }

    [Parameter]
    public EventCallback<int> ValueChanged { get; set; }

    private Color[] _colors;

    protected override Task OnInitializedAsync()
    {
        _colors = UseAutographColors ? Color.Autograph : Color.GetAll(ItemType);

        if ((InitialValue?.Id ?? 0) > 0)
            Value = InitialValue.Id;

        return base.OnInitializedAsync();
    }

    private async Task OnInputChange(ChangeEventArgs args)
    {
        Value = Convert.ToInt32(args.Value);
        await ValueChanged.InvokeAsync(Value).ConfigureAwait(false);
    }
}

