@using Memorabilia.Application.Features.Admin.Division

<InputSelect class="form-control" id="DivisionDropDown" @bind-Value="@Value" @oninput="@OnInputChange" >
    <option value="0">--Select--</option>
    @foreach (var division in _divisions)
    {
        <option value="@division.Id">@division.Name</option>
    }
</InputSelect>

@code {
    [Parameter]
    public Division InitialValue { get; set; }

    [Parameter]
    public SportLeagueLevel SportLeagueLevel { get; set; }

    [Parameter]
    public int Value { get; set; }

    [Parameter]
    public EventCallback<int> ValueChanged { get; set; }

    private Division[] _divisions;

    protected override Task OnInitializedAsync()
    {
        _divisions = Division.GetAll(SportLeagueLevel);

        return base.OnInitializedAsync();
    }

    private async Task OnInputChange(ChangeEventArgs args)
    {
        Value = Convert.ToInt32(args.Value);
        await ValueChanged.InvokeAsync(Value).ConfigureAwait(false);
    }
}

