<MudDialog Style="max-height:85vh;">
    <DialogContent>
        <div style="text-align:right;">
            <MudIconButton Icon="@Icons.Material.Filled.Close"
                           OnClick="Cancel" />
        </div>
        <DivPad2>
            <Content>
                <MemorabiliaFilter OnFilter="OnFilter" />
                <MemorabiliaDetailGrid CanSelect="true"
                                       Filter="_filter"
                                       MemorabiliaSelected="@((p) => SelectedMemorabilia = p)"
                                       ShowActions="false"
                                       UserId="UserId" />
            </Content>            
        </DivPad2>
    </DialogContent>
    <DialogActions>        
        <CancelButton OnClick="Cancel" />
        <AddButton OnClick="Add" />
    </DialogActions>
</MudDialog>
