@page "/Sports/Edit"
@page "/Sports/Edit/{id:int}"

@using Memorabilia.Application.Features.Admin
@using Memorabilia.Application.Features.Admin.Sport

@inject CommandRouter _commandRouter
@inject ProtectedLocalStorage _localStorage
@inject NavigationManager _navigation
@inject QueryRouter _queryRouter
@inject IToastService _toastService

@if (!_pageLoaded)
{
    <_PageLoader />
}
else
{
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            <h1>@_viewModel.PageTitle</h1>
        </div>
    </div>
    <br />
    <div style="border: 1px solid black; margin-top: 2%; margin-bottom: 2%; margin-left: 2%; margin-right: 2%;">
        <div class="row" style="margin-top: 2%; margin-bottom: 2%; margin-left: 1%; margin-right: 1%;">
            <div class="col-lg-12" style="text-align: center">
                <img src="images/sports.jpg" alt="Image" height="150" width="150" />
            </div>
            <EditForm Model="_viewModel" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="form-group">
                    <label for="name">Name</label>
                    <InputText id="name" @bind-Value="_viewModel.Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="alternateName">Alternate Name</label>
                    <InputText id="alternateName" @bind-Value="_viewModel.AlternateName" class="form-control" />
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </EditForm>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align: center">
                <a href="Sports">Back</a>
            </div>
        </div>
        <br />
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private bool _pageLoaded;
    private SaveSportViewModel _viewModel = new SaveSportViewModel();

    protected async Task HandleValidSubmit()
    {
        var command = new SaveSport.Command(_viewModel);

        await _commandRouter.Send(command).ConfigureAwait(false);

        _navigation.NavigateTo("Sports");

        _toastService.ShowSuccess("Sport was saved successfully!", _viewModel.PageTitle);
    }

    protected override async Task OnInitializedAsync()
    {
        if (Id == 0)
        {
            _pageLoaded = true;
            return;
        }

        var query = new GetSport.Query(Id);

        _viewModel = new SaveSportViewModel(await _queryRouter.Send(query).ConfigureAwait(false));
        _pageLoaded = true;
    }
}

