@inherits EditItem<ItemTypeLevelEditModel, ItemTypeLevelModel>

<PageEditor DisplaySaveContinueButton="false"
            PageImageFileName="@EditModel.ImageFileName"
            EditModel="EditModel"
            OnSave="Save"
            TItem="ItemTypeLevelEditModel">
    <DivRowFormGroup>
        <Div Class="col-3">
            <ItemTypeAutoComplete Disabled="@(EditModel.Id > 0)" 
                                  SelectedValue="EditModel.ItemType"
                                  SelectionChanged="(p) => EditModel.ItemType = p" />
        </Div>
    </DivRowFormGroup>
    <DivRowFormGroup>
        <Div Class="col-3">
            <LevelTypeDropDown SelectedValue="EditModel.LevelTypeId"
                               SelectionChanged="(p) => EditModel.LevelTypeId = p" />
        </Div>
    </DivRowFormGroup>
</PageEditor>