@inherits PersonProfile

<Div Class="row" 
     Style="overflow-y:auto;max-height:600px;">
    <Div Style="width:49%;">
        <Condition Evaluation="Person.Teams.Filter(Sport.Baseball, OccupationType).Any()">
            <Match>
                <br />
                <TeamsProfile Occupation="Occupation"
                              Person="Person"
                              Sport="Sport.Baseball" />
            </Match>
        </Condition>
        <Condition Evaluation="Person.Teams.HasChampionships(Sport.Baseball, OccupationType)">
            <Match>
                <br />
                <ChampionshipProfile Occupation="Occupation"
                                     Person="Person"
                                     Sport="Sport.Baseball" />
            </Match>
        </Condition>
        <Condition Evaluation="Person.HallOfFames.Filter(Sport.Baseball).Any()">
            <Match>
                <br />
                <SportHallOfFameProfile Person="Person"
                                        Sport="Sport.Baseball" />
            </Match>
        </Condition>
        <Condition Evaluation="Person.FranchiseHallOfFames.Filter(Sport.Baseball).Any()">
            <Match>
                <br />
                <FranchiseHallOfFameProfile Person="Person"
                                            Sport="Sport.Baseball" />
            </Match>
        </Condition>
    </Div>
    <Div Style="width:49%;margin-left:1%">
        <br />
        <AccomplishmentSummaryProfile Occupation="Occupation"
                                      Person="Person"
                                      Sport="Sport.Baseball" />
        <br />
        <Condition Evaluation="Person.Accomplishments.Filter(Sport.Baseball, OccupationType).Any()">
            <Match>
                <AccomplishmentsProfile Occupation="Occupation"
                                        Person="Person"
                                        Sport="Sport.Baseball" />
                <br />
            </Match>
        </Condition>
        <Condition Evaluation="Person.Awards.Filter(Sport.Baseball, OccupationType).Any()">
            <Match>
                <AwardsProfile Occupation="Occupation"
                               Person="Person"
                               Sport="Sport.Baseball" />
                <br />
            </Match>
        </Condition>
    </Div>
</Div>