@inherits PersonProfile

<Div Class="row" 
     Style="overflow-y:auto;max-height:600px;">
    <Div Style="width:49%;">   
        <HiddenControl Visible="Person.HallOfFames.Filter(Sport.Baseball).Any()">
            <br />
            <SportHallOfFameProfile Person="Person"
                                    Sport="Sport.Baseball" />
        </HiddenControl>
    </Div> 
</Div>