@inherits PersonProfile

<Div Class="@DivClass.Row"
     Style="overflow-y:auto;max-height:600px;">
    <Div Style="width:49%;">        
        <HiddenControl Visible="Person.Teams.Filter(Sport.Basketball, OccupationType).Any()">
            <TeamsProfile Occupation="Occupation"
                          Person="Person"
                          Sport="Sport.Basketball" />
        </HiddenControl>
        <HiddenControl Visible="Person.Positions.Filter(Sport.Basketball).Any()">
            <br />
            <PositionsProfile Person="Person"
                              Sport="Sport.Basketball" />
        </HiddenControl>
        <HiddenControl Visible="Person.Teams.HasChampionships(Sport.Basketball, OccupationType)">
            <br />
            <ChampionshipProfile Occupation="Occupation"
                                 Person="Person"
                                 Sport="Sport.Basketball" />
        </HiddenControl>
        <HiddenControl Visible="Person.HallOfFames.Filter(Sport.Basketball).Any()">
            <br />
            <SportHallOfFameProfile Person="Person"
                                    Sport="Sport.Basketball" />
        </HiddenControl>
        <HiddenControl Visible="Person.FranchiseHallOfFames.Filter(Sport.Basketball).Any()">
            <br />
            <FranchiseHallOfFameProfile Person="Person"
                                        Sport="Sport.Basketball" />
        </HiddenControl>
        <HiddenControl Visible="Person.Drafts.Filter(Sport.Basketball).Any()">
            <br />
            <DraftsProfile Person="Person"
                           Sport="Sport.Basketball" />
        </HiddenControl>
    </Div>
    <Div Style="width:49%;margin-left:1%">
        <br />
        <AccomplishmentSummaryProfile Occupation="Occupation" 
                                      Person="Person"
                                      Sport="Sport.Basketball" />
        <br />
        <HiddenControl Visible="Person.Accomplishments.Filter(Sport.Basketball, OccupationType).Any()">
            <AccomplishmentsProfile Occupation="Occupation"
                                    Person="Person"
                                    Sport="Sport.Basketball" />
            <br />
        </HiddenControl>
        <HiddenControl Visible="Person.AllStars.Filter(Sport.Basketball, OccupationType).Any()">
            <AllStarProfile Occupation="Occupation"
                            Person="Person"
                            Sport="Sport.Basketball" />
            <br />
        </HiddenControl>
        <HiddenControl Visible="Person.Awards.Filter(Sport.Basketball, OccupationType).Any()">
            <AwardsProfile Occupation="Occupation"
                           Person="Person"
                           Sport="Sport.Basketball" />
            <br />
        </HiddenControl>
        <HiddenControl Visible="Person.Leaders.Filter(Sport.Basketball, OccupationType).Any()">
            <LeadersProfile Occupation="Occupation"
                            Person="Person"
                            Sport="Sport.Basketball" />
            <br />
        </HiddenControl>
        <HiddenControl Visible="Person.CareerRecords.Filter(Sport.Basketball).Any()">
            <CareerRecordsProfile Person="Person"
                                  Sport="Sport.Basketball" />
            <br />
        </HiddenControl>
        <HiddenControl Visible="Person.SingleSeasonRecords.Filter(Sport.Basketball).Any()">
            <SingleSeasonRecordsProfile Person="Person"
                                        Sport="Sport.Basketball" />
            <br />
        </HiddenControl>
    </Div>
</Div>