@inherits PersonProfile

<Div Class="row" 
     Style="overflow-y:auto;max-height:600px;">
    <Div Style="width:49%;">        
        <Condition Evaluation="Person.Teams.Filter(Sport.Football, OccupationType).Any()">
            <Match>
                <TeamsProfile Occupation="Occupation" 
                              Person="Person"
                              Sport="Sport.Football" />
            </Match>
        </Condition>
        <Condition Evaluation="Person.Positions.Filter(Sport.Football).Any()">
            <Match>
                <br />
                <PositionsProfile Person="Person"
                                  Sport="Sport.Football" />
            </Match>
        </Condition>
        <Condition Evaluation="Person.Teams.HasChampionships(Sport.Football, OccupationType)">
            <Match>
                <br />
                <ChampionshipProfile Occupation="Occupation" 
                                     Person="Person"
                                     Sport="Sport.Football" />
            </Match>
        </Condition>
        <Condition Evaluation="Person.HallOfFames.Filter(Sport.Football).Any()">
            <Match>
                <br />
                <SportHallOfFameProfile Person="Person"
                                        Sport="Sport.Football" />
            </Match>
        </Condition>
        <Condition Evaluation="Person.FranchiseHallOfFames.Filter(Sport.Football).Any()">
            <Match>
                <br />
                <FranchiseHallOfFameProfile Person="Person"
                                            Sport="Sport.Football" />
            </Match>
        </Condition>
        <Condition Evaluation="Person.Drafts.Filter(Sport.Football).Any()">
            <Match>
                <br />
                <DraftsProfile Person="Person"
                               Sport="Sport.Football" />
            </Match>
        </Condition>
    </Div>
    <Div Style="width:49%;margin-left:1%">
        <br />
        <AccomplishmentSummaryProfile Occupation="Occupation" 
                                      Person="Person"
                                      Sport="Sport.Football" />
        <br />
        <Condition Evaluation="Person.Accomplishments.Filter(Sport.Football, OccupationType).Any()">
            <Match>
                <AccomplishmentsProfile Occupation="Occupation" 
                                        Person="Person"
                                        Sport="Sport.Football" />
                <br />
            </Match>
        </Condition>
        <Condition Evaluation="Person.AllStars.Filter(Sport.Football, OccupationType).Any()">
            <Match>
                <AllStarProfile Occupation="Occupation" 
                                Person="Person"
                                Sport="Sport.Football" />
                <br />
            </Match>
        </Condition>
        <Condition Evaluation="Person.Awards.Filter(Sport.Football, OccupationType).Any()">
            <Match>
                <AwardsProfile Occupation="Occupation" 
                               Person="Person"
                               Sport="Sport.Football" />
                <br />
            </Match>
        </Condition>
        <Condition Evaluation="Person.Leaders.Filter(Sport.Football, OccupationType).Any()">
            <Match>
                <LeadersProfile Occupation="Occupation" 
                                Person="Person"
                                Sport="Sport.Football" />
                <br />
            </Match>
        </Condition>
        <Condition Evaluation="Person.CareerRecords.Filter(Sport.Football).Any()">
            <Match>
                <CareerRecordsProfile Person="Person"
                                      Sport="Sport.Football" />
                <br />
            </Match>
        </Condition>
        <Condition Evaluation="Person.SingleSeasonRecords.Filter(Sport.Football).Any()">
            <Match>
                <SingleSeasonRecordsProfile Person="Person"
                                            Sport="Sport.Football" />
                <br />
            </Match>
        </Condition>
    </Div>
</Div>