@inherits PersonProfile

<Div Class="row" 
     Style="overflow-y:auto;max-height:600px;">
    <Div style="width:49%;">
        <HiddenControl Visible="Person.Teams.Filter(Sport.Football, OccupationType).Any()">
            <br />
            <TeamsProfile Occupation="Occupation"
                          Person="Person"
                          Sport="Sport.Football" />
        </HiddenControl>
        <HiddenControl Visible="Person.Teams.HasChampionships(Sport.Football, OccupationType)">
            <br />
            <ChampionshipProfile Occupation="Occupation"
                                 Person="Person"
                                 Sport="Sport.Football" />
        </HiddenControl>
        <HiddenControl Visible="Person.HallOfFames.Filter(Sport.Football).Any()">
            <br />
            <SportHallOfFameProfile Person="Person"
                                    Sport="Sport.Football" />
        </HiddenControl>
        <HiddenControl Visible="Person.FranchiseHallOfFames.Filter(Sport.Football).Any()">
            <br />
            <FranchiseHallOfFameProfile Person="Person"
                                        Sport="Sport.Football" />
        </HiddenControl>
    </Div>
    <Div Style="width:49%;margin-left:1%">
        <br />
        <AccomplishmentSummaryProfile Occupation="Occupation"
                                      Person="Person"
                                      Sport="Sport.Football" />
        <br />
        <HiddenControl Visible="Person.Accomplishments.Filter(Sport.Football, OccupationType).Any()">
            <AccomplishmentsProfile Occupation="Occupation"
                                    Person="Person"
                                    Sport="Sport.Football" />
            <br />
        </HiddenControl>
        <HiddenControl Visible="Person.Awards.Filter(Sport.Football, OccupationType).Any()">
            <AwardsProfile Occupation="Occupation"
                           Person="Person"
                           Sport="Sport.Football" />
            <br />
        </HiddenControl>
    </Div>
</Div>