<DivPad2>
    <Div Class="@DivClass.Row">
        <Div Class="@DivClass.Column6">
            <PersonSearchAutoComplete IsCulturalSearch="true"
                                      SelectedValue="Model"
                                      SelectionChanged="(p) => SelectedPersonChanged(p)" />
            <br />
        </Div>
    </Div>
</DivPad2>
