<DivPad2>
    <Div Class="row">
        <Div Class="col-6">
            <PersonSearchAutoComplete IsCulturalSearch="true"
                                      SelectedValue="Model"
                                      SelectionChanged="(p) => SelectedPersonChanged(p)" />
            <br />
        </Div>
    </Div>
</DivPad2>
