@inherits PersonProfile

<TabControl Centered="false"
            Visible="ProfileTypes.Any()">
    <Iterations Context="profileType"
                Items="ProfileTypes">
        <TabPanel BadgeColor="MudBlazor.Color.Success"
                  DisplayBadge="true"
                  Text="@profileType.Name">
            <DivRowCol12>
                <Div>
                    <DynamicComponent Parameters="Parameters"
                                      Type="@(GetComponent(profileType.Name))" />
                </Div>
            </DivRowCol12>
        </TabPanel>
    </Iterations>
</TabControl>
