@inherits PersonProfile

<Condition Evaluation="@(ProfileTypes.Any())">
    <Match>
        <TabControl Centered="false">
            <Iterations Context="profileType"
                        Items="ProfileTypes">
                <MudTabPanel BadgeColor="MudBlazor.Color.Success"
                             Text="@profileType.Name">
                    <DivRowCol12>
                        <Div>
                            <DynamicComponent Parameters="@Parameters"
                                              Type="@(GetComponent(profileType.Name))" />
                        </Div>
                    </DivRowCol12>
                </MudTabPanel>
            </Iterations>
        </TabControl>
    </Match>
</Condition>
