<MudDialog Style="@Style.Dialog">
    <DialogContent>
        <Div Class="@DivClass.Row"
             Style="@Style.CenterAlign"
             Visible="Images.Any()">
            <MudCarousel AutoCycle="true"
                         ShowArrows="true"
                         ShowBullets="true"
                         Style="height:600px;width:600px;"
                         TData="object">
                <Iterations Context="image"
                            Items="Images.OrderByDescending(image => image.Id == SelectedImageId)">
                    <MudCarouselItem Color="MudBlazor.Color.Primary"
                                     Transition="Transition.Slide">
                        <Image Height="600"
                               ImageData="@(ImageService.GetUserImageData(image.FileName, image.UserId))"
                               ObjectFit="ObjectFit.Fill"                                  
                               Width="600" />
                    </MudCarouselItem>
                </Iterations>
            </MudCarousel>
        </Div>
    </DialogContent>
    <DialogActions>
        <CustomButton OnClick="Close"
                      Text="Close" />
    </DialogActions>
</MudDialog>

