@inherits MemorabiliaItem<CerealBoxEditModel>

<EditMemorabiliaPage Item="EditModel"
                     OnLoad="OnLoad"
                     OnSave="OnSave" 
                     TItem="CerealBoxEditModel">
    <Content>
        <MemorabiliaItemEditor DisplayItemTypeGameStyle="false"
                               DisplayItemTypeLevel="false"
                               DisplayItemTypeSize="false"
                               DisplayMultiPersonSelector="true"
                               DisplayMultiSportSelector="true"
                               DisplayMultiTeamSelector="true"
                               Model="EditModel"
                               TItem="CerealBoxEditModel">
            <AdditionalContent>
                <Div Class="row">
                    <Div Class="col-3">
                        <CerealTypeDropDown SelectedValue="EditModel.CerealTypeId"
                                            SelectionChanged="(p) => EditModel.CerealTypeId = p" />
                    </Div>
                </Div>
            </AdditionalContent>
        </MemorabiliaItemEditor>
    </Content>
</EditMemorabiliaPage>