@inherits MemorabiliaItem<CerealBoxEditModel>

<EditMemorabiliaPage ContinueNavigationPath="@($"{NavigationPath.MemorabiliaImage}/{EditModeType.Update.Name}/{DataProtectorService.EncryptId(MemorabiliaId)}")" 
                     EditModel="EditModel"
                     ExitNavigationPath="@NavigationPath.Memorabilia"
                     OnSave="OnSave" 
                     TItem="CerealBoxEditModel">
    <Content>
        <MemorabiliaItemEditor DisplayItemTypeGameStyle="false"
                               DisplayItemTypeLevel="false"
                               DisplayItemTypeSize="false"
                               DisplayMultiPersonSelector="true"
                               DisplayMultiSportSelector="true"
                               DisplayMultiTeamSelector="true"
                               Model="EditModel"
                               TItem="CerealBoxEditModel">
            <AdditionalContent>
                <DivRowFormGroup>
                    <Div Class="@DivClass.Column3">
                        <CerealTypeDropDown SelectedValue="EditModel.CerealTypeId"
                                            SelectionChanged="(p) => EditModel.CerealTypeId = p" />
                    </Div>
                </DivRowFormGroup>
            </AdditionalContent>
        </MemorabiliaItemEditor>
    </Content>
</EditMemorabiliaPage>