@using Memorabilia.Application.Features.Admin.AuthenticationCompany
@using Memorabilia.Domain.Constants

<InputSelect id="AuthenticationCompanyDropDown" class="form-control" disabled="@Disabled" @bind-Value="@Value" @oninput="OnInputChange" >
    <option value="0">--Select--</option>
    @foreach (var authenticationCompany in AuthenticationCompany.All)
    {
        <option value="@authenticationCompany.Id">@authenticationCompany.Name</option>
    }
</InputSelect>

@code {
    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public AuthenticationCompany InitialValue { get; set; }

    [Parameter]
    public int Value { get; set; }

    [Parameter]
    public EventCallback<int> ValueChanged { get; set; }

    protected override Task OnInitializedAsync()
    {
        if ((InitialValue?.Id ?? 0) > 0)
            Value = InitialValue.Id;

        return base.OnInitializedAsync();
    }

    private async Task OnInputChange(ChangeEventArgs args)
    {
        Value = Convert.ToInt32(args.Value);
        await ValueChanged.InvokeAsync(Value).ConfigureAwait(false);
    }
}