<Div Style="margin-top:1%;margin-bottom:1%;margin-left:1%;margin-right:1%;">
    <AlertPanel Alerts="ValidationResultAlerts" />
    <Div Class="row">
        <Div Class="col-12">
            <Text Typography="Typo.h3">
                Offer
            </Text>
        </Div>
    </Div>
    <br />
    <Div Class="row">
        <Div Class="col-12">
            <OfferMemorabiliaGrid Item="EditModel.Memorabilia" />
        </Div>
    </Div>
    <br />
    <Div Class="row">
        <Div Class="col-3">
            <NullableDecimalField Disabled="IsReadOnly"
                                  Label="Amount to Offer ($)"
                                  Value="EditModel.Amount"
                                  ValueChanged="@((p) => EditModel.Amount = p)" />
        </Div>
    </Div>
    <br />
    <br />
    <LeftRightSection>
        <Right>
            <RowStack>
                <Condition Evaluation="IsReadOnly">
                    <Match>
                        <CustomButton OnClick="OnCancel"
                                      Text="Cancel" />
                    </Match>
                    <NotMatch>
                        <Condition Evaluation="IsReviewMode">
                            <Match>
                                <CustomButton OnClick="OnReject"
                                              Text="Reject" />
                                <CustomButton OnClick="OnCounter"
                                              Text="Counter" />
                                <CustomButton OnClick="OnAccept"
                                              Text="Accept" />
                            </Match>
                            <NotMatch>
                                <CustomButton OnClick="OnSend"
                                              Text="Send" />
                            </NotMatch>
                        </Condition>
                    </NotMatch>
                </Condition>
            </RowStack>
        </Right>
    </LeftRightSection>
</Div>

