<HistoryDialog>
    <Content>
        <Div Style="@($"{Style.MarginPad1}{Style.VertificalScrollbar}")">
            <AutographHistoryGrid AutographId="AutographId" />
        </Div>
    </Content>
</HistoryDialog>
