@inherits MemorabiliaItem<BammerEditModel>

<EditMemorabiliaPage Item="EditModel"
                     OnSave="OnSave" 
                     TItem="BammerEditModel">
    <Content>
        <MemorabiliaItemEditor CanFilterPersonBySport="true" 
                               DisplayItemTypeGameStyle="false" 
                               DisplayItemTypeLevel="false"
                               DisplayItemTypeSize="false"
                               DisplayMultiPersonSelector="true"
                               DisplayMultiTeamSelector="true"
                               DisplaySingleSportSelector="true"
                               Model="EditModel"
                               TItem="BammerEditModel">
            <AdditionalContent>
                <Condition Evaluation="EditModel.CanHaveBammerType">
                    <Match>
                        <Div Class="row">
                            <Div Class="col-3">
                                <BammerTypeDropDown SelectedValue="EditModel.BammerTypeId"
                                                    SelectionChanged="(p) => EditModel.BammerTypeId = p" />
                            </Div>
                        </Div>
                    </Match>
                </Condition>                
                <Div Class="row">
                    <Div Class="col-3">
                        <NullableIntField Label="Year"
                                          Maximum="int.MaxValue"
                                          Value="EditModel.Year"
                                          ValueChanged="@((p) => EditModel.Year = p)" />
                    </Div>
                    <Div Class="col-3">
                        <MudSwitch Checked="@EditModel.InPackage"
                                   CheckedChanged="(p) => EditModel.InPackage = p"
                                   Color="MudBlazor.Color.Success"
                                   Label="Is In Package?"
                                   T="bool" />
                    </Div>
                </Div>
            </AdditionalContent>
        </MemorabiliaItemEditor>  
    </Content>
</EditMemorabiliaPage>
