@page "/Occupations/Edit/{id:int}"

@using Memorabilia.Application.Features.Admin
@using Memorabilia.Application.Features.Admin.Occupation
@using Memorabilia.Web.Controls.Occupation

@inject CommandRouter _commandRouter
@inject QueryRouter _queryRouter

@if (_viewModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <_OccupationEditor EditModeType="@_editModeType" 
                       Item="@_viewModel"                  
                       OnSave="Save" />
}

@code {
    [Parameter]
    public int Id { get; set; }

    private EditModeType _editModeType;
    private SaveDomainViewModel _viewModel = new SaveDomainViewModel();    

    protected override async Task OnInitializedAsync()
    {
        _editModeType = Id > 0 ? EditModeType.Edit : EditModeType.Add;

        if (Id == 0)
            return;

        var query = new GetOccupation.Query(Id);

        _viewModel = new SaveDomainViewModel(await _queryRouter.Send(query).ConfigureAwait(false));
    }

    protected async Task Save()
    {
        var command = new SaveOccupation.Command(_viewModel);

        await _commandRouter.Send(command).ConfigureAwait(false);
    }
}
