@inject NavigationManager _navigation

@using Memorabilia.Application.Features.Admin.BaseballType

<div class="form-group">
    <label for="baseballType">Baseball Type</label>
    <InputSelect id="baseballType" @bind-Value="@BaseballTypeId" class="form-control">
        @foreach (var baseballType in Domain.Constants.BaseballType.All)
        {
            <option value="@baseballType.Id">@baseballType.Name</option>
        }
    </InputSelect>
</div>

@code {
    [Parameter]
    public int BaseballTypeId { get; set; }  

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
}

