@using Memorabilia.Application.Features.Admin

<div class="form-group">
    <label for="name">Name</label>
    <InputText id="name" class="form-control" @bind-Value="DomainItem.Name" />
</div>
<div class="form-group">
    <label for="abbreviation">Abbreviation</label>
    <InputText id="abbreviation" class="form-control" @bind-Value="DomainItem.Abbreviation" />
</div>

@code {
    [Parameter]
    public SaveDomainViewModel DomainItem { get; set; }
}
