@inject NavigationManager _navigation

@using Memorabilia.Application.Features.Admin.ItemTypeSize

<div class="form-group">
    <label for="size">Size</label>
    <InputSelect id="size" @bind-Value="@SizeId" class="form-control">
        @foreach (var size in Sizes)
        {
            <option value="@size.Id">@size.SizeName</option>
        }
    </InputSelect>
</div>

@code {
    [Parameter]
    public int SizeId { get; set; }  

    [Parameter]
    public IEnumerable<ItemTypeSizeViewModel> Sizes { get; set; }  

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
}
