@inject NavigationManager _navigation

<div class="@(!string.IsNullOrEmpty(Page) ? "can-click" : string.Empty)" 
     style="border: 1px solid black; margin-top: 5%; margin-bottom: 5%; margin-left: 5%; margin-right: 5%;" 
     @onclick=OnClick>
    <div class="row" style="margin-top: 5%; margin-bottom: 5%; margin-left: 5%; margin-right: 5%;">
        <div class="col-lg-12" style="text-align: center;">
            <h2>@Title</h2>
        </div>
    </div>
    <div class="row" style="margin-top: 1%; margin-bottom: 1%; margin-left: 1%; margin-right: 1%;">
        <div class="col-lg-12" style="text-align: center;">
            <img src="@ImagePath" alt="Image" height="150" width="150" />
        </div>
    </div>
    <div class="row" style="margin-top: 1%; margin-bottom: 1%; margin-left: 1%; margin-right: 1%;">
        <div class="col-lg-12" style="text-align: center;">
            <h4>@Description</h4>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Description { get; set; }  

    [Parameter]
    public string ImagePath { get; set; } 
    
    [Parameter]
    public string Page { get; set; }  

    [Parameter]
    public string Title { get; set; }   

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
    
    protected void OnClick()
    {
        _navigation.NavigateTo(Page);
    }
}
