<Div Style="display:flex;align-items:center;">
    <Div Class="row">
        <Div Class="col-12" 
             Style="text-align:center;">
             <MudStack Row="true">
                <CustomButton OnClick="Login"
                              Text="Login" />
                <CustomButton OnClick="Register"
                              Text="Register" />
             </MudStack>            
        </Div>
    </Div>
</Div>
