<div style="border: 1px solid black; margin-top: 2%; margin-bottom: 2%; margin-left: 2%; margin-right: 2%;">
    <div style="margin-top: 2%; margin-bottom: 2%; margin-left: 1%; margin-right: 1%;">
        @Content
    </div>
</div>
