<Div Style="display:flex;align-items:center;">
    <Div Class="row">
        <Div Class="col-12" 
             Style="text-align:center;">
            <CustomButton OnClick="Register"
                          Text="Register" />
        </Div>
    </Div>
</Div>
