<div style="display:flex;align-items:center;">
    <div class="row">
        <div class="col-md-12" style="text-align:center;">
            <CustomButton OnClick="Register"
                          Text="Register" />
        </div>
    </div>
</div>
