@inherits MemorabiliaItem<CardEditModel>

<EditMemorabiliaPage EditModel="EditModel"
                     OnSave="OnSave" 
                     TItem="CardEditModel">
    <Content>
        <MemorabiliaItemEditor DisplayItemTypeGameStyle="false" 
                               DisplayMultiPersonSelector="true"
                               DisplayMultiSportSelector="true"
                               DisplayMultiTeamSelector="true"
                               Model="EditModel"
                               TItem="CardEditModel">
            <AdditionalContent>
                <DivRowFormGroup>
                    <Div Class="col-3">
                        <OrientationDropDown SelectedValue="EditModel.OrientationId"
                                             SelectionChanged="(p) => EditModel.OrientationId = p" />
                    </Div>
                    <Div Class="col-3">
                        <NullableIntField Label="Year"
                                          Value="EditModel.Year"
                                          ValueChanged="@((p) => EditModel.Year = p)" />
                    </Div>
                    <Div Class="col-3">
                        <Switch Checked="@EditModel.Licensed"
                                CheckedChanged="(p) => EditModel.Licensed = p"
                                Label="Licensed?" />
                    </Div>
                    <Div Class="col-3">
                        <Switch Checked="@EditModel.Custom"
                                CheckedChanged="(p) => EditModel.Custom = p"
                                Label="Custom?" />
                    </Div>
                </DivRowFormGroup>
            </AdditionalContent>
        </MemorabiliaItemEditor>
    </Content>
</EditMemorabiliaPage>