<Div Style="@Style.MarginPad1">
    <ExpansionPanel CanExpand="false" 
                    Text="For Sale">
        <Div Class="@DivClass.Row"
             Visible="_hasItemsForSale">
            <MemorabiliaFilter OnFilter="OnFilter" />
        </Div>
        <DivRowFormGroup>
            <Div Class="@DivClass.Column12">
                <Stack>
                    <LeftRightSection>
                        <Right>
                            <AddButton OnClick="AddMemorabilia"
                                       Text="Add Memorabilia" />
                        </Right>
                    </LeftRightSection>
                    <ForSaleGrid Filter="_filter" />
                </Stack>
            </Div>
        </DivRowFormGroup>
    </ExpansionPanel>
</Div>
