@inherits EditPersonItem<PersonAccoladeEditModel, PersonAccoladeModel>

<PageLoader IsLoading="@(!IsLoaded)">
    <PageEditor DisplayBackToMenuItemLink="true"
                EditModel="EditModel"
                MenuItemLinkText="Back to People"
                MenuItemPath="@EditModel.MenuItemPath"             
                OnSave="Save"
                PageImageFileName="@EditModel.ImageFileName"
                TItem="PersonAccoladeEditModel">
        <TimelineContent>
            <PersonTimeline EditMode="EditModel.EditModeType"
                            PersonId="EditModel.PersonId"
                            PersonStep="EditModel.PersonStep" />
        </TimelineContent>
        <ChildContent>
            <Div Style="margin-bottom:1%;">
                <TabControl>
                    <MudTabPanel BadgeColor="MudBlazor.Color.Success"
                                 BadgeData="EditModel.Accomplishments.Count(accomplishment => !accomplishment.IsDeleted)"
                                 Text="Accomplishments">
                        <DivRowCol12>
                            <PersonAccomplishmentEditor Accomplishments="EditModel.Accomplishments"
                                                        Sports="EditModel.Sports" />
                        </DivRowCol12>
                    </MudTabPanel>
                    <Condition Evaluation="EditModel.DisplayAllStars">
                        <Match>
                            <MudTabPanel BadgeColor="MudBlazor.Color.Success"
                                         BadgeData="EditModel.AllStars.Count"
                                         Text="@EditModel.AllStarGameLabel">
                                <DivRowCol12>
                                    <PersonAllStarEditor AllStars="EditModel.AllStars"
                                                         Sports="EditModel.Sports" />
                                </DivRowCol12>
                            </MudTabPanel>
                        </Match>
                    </Condition>
                    <MudTabPanel BadgeColor="MudBlazor.Color.Success"
                                 BadgeData="EditModel.Awards.Count(award => !award.IsDeleted)"
                                 Text="Awards">
                        <DivRowCol12>
                            <PersonAwardEditor Awards="EditModel.Awards"
                                               Sports="EditModel.Sports" />
                        </DivRowCol12>
                    </MudTabPanel>
                    <MudTabPanel BadgeColor="MudBlazor.Color.Success"
                                 BadgeData="EditModel.Leaders.Count(leader => !leader.IsDeleted)"
                                 Text="Leaders">
                        <DivRowCol12>
                            <PersonLeaderEditor Leaders="EditModel.Leaders"
                                                Sports="EditModel.Sports" />
                        </DivRowCol12>
                    </MudTabPanel>
                    <MudTabPanel Text="Records">
                        <DivRowCol12>
                            <Text Content="Career Records" />
                            <PersonCareerRecordEditor CareerRecords="EditModel.CareerRecords"
                                                      Sports="EditModel.Sports" />
                        </DivRowCol12>
                        <br />
                        <DivRowCol12>
                            <Text Content="Single Season Records" />
                            <PersonSingleSeasonRecordEditor SingleSeasonRecords="EditModel.SingleSeasonRecords"
                                                            Sports="EditModel.Sports" />
                        </DivRowCol12>
                    </MudTabPanel>
                    <MudTabPanel Text="Retired Numbers">
                        <DivRowCol12>
                            <Text Content="College Retired Numbers" />
                            <PersonCollegeRetiredNumberEditor CollegeRetiredNumbers="EditModel.CollegeRetiredNumbers"
                                                              Colleges="EditModel.Colleges" />
                        </DivRowCol12>
                        <br />
                        <DivRowCol12>
                            <Text Content="Franchise Retired Numbers" />
                            <PersonRetiredNumberEditor RetiredNumbers="EditModel.RetiredNumbers"
                                                       Sports="EditModel.Sports" />
                        </DivRowCol12>
                    </MudTabPanel>
                </TabControl>
            </Div>
        </ChildContent>
    </PageEditor>
</PageLoader>