@inherits EditPersonItem<PersonHallOfFamesEditModel, PersonHallOfFameModel>

<PageLoader IsLoading="@(!IsLoaded)">
    <PageEditor DisplayBackToMenuItemLink="true"
                EditModel="EditModel"
                MenuItemLinkText="Back to People"
                MenuItemPath="@EditModel.MenuItemPath"             
                OnSave="Save"
                PageImageFileName="@EditModel.ImageFileName"
                TItem="PersonHallOfFamesEditModel">
        <TimelineContent>
            <PersonTimeline EditMode="EditModel.EditModeType"
                            PersonId="EditModel.PersonId"
                            PersonStep="EditModel.PersonStep" />
        </TimelineContent>
        <ChildContent>
            <Div Style="margin-bottom:1%;">
                <MudTabs ApplyEffectsToContainer="true"
                         Centered="true"
                         Elevation="2"
                         PanelClass="pa-6"
                         Rounded="true">
                    <MudTabPanel BadgeColor="MudBlazor.Color.Success"
                                 BadgeData="EditModel.HallOfFames.Count(hof => !hof.IsDeleted)"
                                 Text="Sports">
                        <DivRowCol12>
                            <PersonHallOfFameEditor HallOfFames="EditModel.HallOfFames"
                                                    SportLeagueLevels="EditModel.SportLeagueLevels" />
                        </DivRowCol12>
                    </MudTabPanel>
                    <MudTabPanel BadgeColor="MudBlazor.Color.Success"
                                 BadgeData="EditModel.FranchiseHallOfFames.Count(hof => !hof.IsDeleted)"
                                 Text="Franchises">
                        <DivRowCol12>
                            <PersonFranchiseHallOfFameEditor FranchiseHallOfFames="EditModel.FranchiseHallOfFames"
                                                             Sports="EditModel.Sports" />
                        </DivRowCol12>
                    </MudTabPanel>
                    <MudTabPanel BadgeColor="MudBlazor.Color.Success"
                                 BadgeData="EditModel.CollegeHallOfFames.Count(hof => !hof.IsDeleted)"
                                 Text="College">
                        <DivRowCol12>
                            <PersonCollegeHallOfFameEditor CollegeHallOfFames="EditModel.CollegeHallOfFames" />
                        </DivRowCol12>
                    </MudTabPanel>
                    <MudTabPanel BadgeColor="MudBlazor.Color.Success"
                                 BadgeData="EditModel.InternationalHallOfFames.Count(hof => !hof.IsDeleted)"
                                 Text="International">
                        <DivRowCol12>
                            <PersonInternationalHallOfFameEditor InternationalHallOfFames="EditModel.InternationalHallOfFames" />
                        </DivRowCol12>
                    </MudTabPanel>
                </MudTabs>
            </Div>
        </ChildContent>
    </PageEditor>
</PageLoader>

