<Dialog DisplayCloseButton="true"
        OnCancel="Close"
        OnClose="Close">
    <DialogContent>
        <Div Style="@($"{Style.MarginPad1}{Style.VertificalScrollbar}")">
            @Content
        </Div>
    </DialogContent>
</Dialog>
