@using Memorabilia.Application.Features.Admin.ItemTypeSpot
@using Memorabilia.Domain.Constants

@inject QueryRouter _queryRouter

<InputSelect id="itemTypeSpotDropDown" class="form-control" @bind-Value="@Value" @oninput="@OnInputChange">
    <option value="0">--Select--</option>
    @foreach (var itemTypeSpot in _itemTypeSpots)
    {
        <option value="@itemTypeSpot.SpotId">@itemTypeSpot.SpotName</option>
    }
</InputSelect>

@code {
    [Parameter]
    public Size InitialValue { get; set; }

    [Parameter]
    public ItemType ItemType { get; set; }

    [Parameter]
    public int Value { get; set; }  

    private IEnumerable<ItemTypeSpotViewModel> _itemTypeSpots = Enumerable.Empty<ItemTypeSpotViewModel>();

    [Parameter]
    public EventCallback<int> ValueChanged { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Load().ConfigureAwait(false);

        if ((InitialValue?.Id ?? 0) > 0)
            Value = InitialValue.Id; 
    }    

    private async Task Load()
    {
        var query = new GetItemTypeSpots.Query(ItemType.Id);

        _itemTypeSpots = (await _queryRouter.Send(query).ConfigureAwait(false)).ItemTypeSpots.OrderByDescending(spot => spot.SpotName);            
    }

    private async Task OnInputChange(ChangeEventArgs args)
    {
        Value = Convert.ToInt32(args.Value);
        await ValueChanged.InvokeAsync(Value);
    }
}
