@using Memorabilia.Domain.Constants

<InputSelect id="FigureSpecialtyType" class="form-control" @bind-Value="@Value" @oninput="@OnInputChange" >
    <option value="0">--Select--</option>
    @foreach (var figureSpecialtyType in _figureSpecialtytypes)
    {
        <option value="@figureSpecialtyType.Id">@figureSpecialtyType.Name</option>
    }
</InputSelect>

@code {
    [Parameter]
    public FigureType FigureType { get; set; }

    [Parameter]
    public int Value { get; set; }

    [Parameter]
    public EventCallback<int> ValueChanged { get; set; }

    private FigureSpecialtyType[] _figureSpecialtytypes;

    protected override Task OnInitializedAsync()
    {
        _figureSpecialtytypes = FigureSpecialtyType.GetAll(FigureType);

        return base.OnInitializedAsync();
    }

    private async Task OnInputChange(ChangeEventArgs args)
    {
        Value = Convert.ToInt32(args.Value);
        await ValueChanged.InvokeAsync(Value).ConfigureAwait(false);
    }
}

