@page "/Autographs"

@using Memorabilia.Application.Features.Autograph

@inject ProtectedLocalStorage _localStorage
@inject NavigationManager _navigation
@inject QueryRouter _queryRouter

<div class="row">
    <div class="col-md-12" style="text-align: center">
        <h1>Autographs</h1>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <_Summary Title="Add Autograph" ImagePath="images/itemtypes.jpg" Description="" Page="Autographs/Add" />
    </div>
    <div class="col-md-4">
        <_Summary Title="View Autographs" ImagePath="images/itemtypes.jpg" Description="" Page="Autographs/View" />
    </div>       
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        var userId = await _localStorage.GetAsync<int>("UserId");

        if (userId.Value == 0)
            _navigation.NavigateTo("Login");
    }
}
