@page "/Admin"

@inject ProtectedLocalStorage _localStorage
@inject NavigationManager _navigation
@inject QueryRouter _queryRouter

<div class="row">
    <div class="col-md-12" style="text-align: center">
        <h1>Admin</h1>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12" style="text-align: center">
        <h3>Domain Items</h3>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <_Summary Description="Describes how the memorabilia and/or autograph was obtained"
                  ImagePath="images/acquisitiontypes.jpg"
                  Page="AcquisitionTypes"
                  Title="Acquisition Types" />
    </div>
    <div class="col-md-4">
        <_Summary Description="Defines third party companies that ensure the authenticity of autographs"  
                  ImagePath="images/beckett.jpg"  
                  Page="AuthenticationCompanies" 
                  Title="Authentication Companies" />
    </div>
    <div class="col-md-4">
        <_Summary Description="Defines variations of baseballs" 
                  ImagePath="images/baseballtypes.jpg"  
                  Page="BaseballTypes" 
                  Title="Baseball Types" />
    </div>          
</div>
<div class="row">
    <div class="col-md-4">
        <_Summary Description="Defines variations of basketballs" 
                  ImagePath="images/basketballtypes.jpg" 
                  Page="BasketballTypes" 
                  Title="Basketball Types" />
    </div> 
    <div class="col-md-4">
        <_Summary Description="Defines variations of bats" 
                  ImagePath="images/battypes.jpg"  
                  Page="BatTypes" 
                  Title="Bat Types" />
    </div> 
    <div class="col-md-4">
        <_Summary Description="Defines the brands memorabilia can have"  
                  ImagePath="images/brands.jpg" 
                  Page="Brands" 
                  Title="Brands" />
    </div>                 
</div>
<div class="row">
    <div class="col-md-4">
        <_Summary Description="Defines the colors for autographs" 
                  ImagePath="images/colors.png" 
                  Page="Colors" 
                  Title="Colors" />
    </div>   
    <div class="col-md-4">
        <_Summary Description="Specifies the commissioners of each sport" 
                  ImagePath="images/commissioners.jpg"  
                  Page="Commissioners" 
                  Title="Commissioners" />
    </div>    
    <div class="col-md-4">
        <_Summary Description="Defines the conditions for memorabila and autographs" 
                  ImagePath="images/conditions.jpg" 
                  Page="Conditions" 
                  Title="Conditions" />
    </div>                         
</div>
<div class="row">
    <div class="col-md-4">
        <_Summary Description="Defines conferences of sports"  
                  ImagePath="images/conferences.jpg"  
                  Page="Conferences" 
                  Title="Conferences" />
    </div> 
    <div class="col-md-4">
        <_Summary Description="Defines divisions of conferences"  
                  ImagePath="images/divisions.png"  
                  Page="Divisions" 
                  Title="Divisions" />
    </div> 
    <div class="col-md-4">
        <_Summary Description="Defines variations of figures"  
                  ImagePath="images/figure.jpg"  
                  Page="FigureTypes" 
                  Title="Figure Types" />
    </div>                                                          
</div>
<div class="row">
    <div class="col-md-4">
        <_Summary Description="Defines variations of footballs"  
                  ImagePath="images/footballtypes.jpg"  
                  Page="FootballTypes" 
                  Title="Football Types" />
    </div>  
    <div class="col-md-4">
        <_Summary Description="Defines sport franchises"  
                  ImagePath="images/franchises.jpg"  
                  Page="Franchises" 
                  Title="Franchises" />
    </div> 
    <div class="col-md-4">
        <_Summary Description="Describes how the memorabilia was used in a game"                  
                  ImagePath="images/authentictypes.png"  
                  Page="GameStyleTypes"
                  Title="Game Style Types" />
    </div>                                                  
</div>
<div class="row">
    <div class="col-md-4">        
        <_Summary Description="Defines variations of gloves"  
                  ImagePath="images/glovetypes.jpg"  
                  Page="GloveTypes" 
                  Title="Glove Types" />
    </div> 
    <div class="col-md-4">
        <_Summary Description="Defines the quality of a helmet"  
                  ImagePath="images/fullsizehelmettypes.jpg"  
                  Page="HelmetQualityTypes" 
                  Title="Helmet Quality Types" />
    </div>  
    <div class="col-md-4">        
        <_Summary Description="Defines variations of helmets" 
                  ImagePath="images/minihelmets.jpg"  
                  Page="HelmetTypes" 
                  Title="Helmet Types" />
    </div>                                                               
</div>
<div class="row">
    <div class="col-md-4">
        <_Summary Description="Defines the importance of the image" 
                  ImagePath="images/imagetypes.png" 
                  Page="ImageTypes" 
                  Title="Image Types" />
    </div> 
    <div class="col-md-4">
        <_Summary Description="Defines variations of inscriptions for autographs" 
                  ImagePath="images/inscriptiontypes.jpg" 
                  Page="InscriptionTypes" 
                  Title="Inscription Types"    />
    </div> 
    <div class="col-md-4">
        <_Summary Description="Defines which items have which brands"  
                  ImagePath="images/brands.jpg" 
                  Page="ItemTypeBrands" 
                  Title="Item Type Brands" />
    </div>                                      
</div>
<div class="row">      
    <div class="col-md-4">
        <_Summary Description="Defines which items have which game styles" 
                  ImagePath="images/authentictypes.png" 
                  Page="ItemTypeGameStyleTypes" 
                  Title="Item Type Game Styles" />
    </div> 
     <div class="col-md-4">
        <_Summary Description="Defines which items have which levels" 
                  ImagePath="images/jerseytypes.jpg"  
                  Page="ItemTypeLevels" 
                  Title="Item Type Levels" />
    </div> 
    <div class="col-md-4">
        <_Summary Description="Defines which items have which sizes"  
                  ImagePath="images/sizes.jpg"  
                  Page="ItemTypeSizes" 
                  Title="Item Type Sizes" />
    </div>         
</div>
<div class="row">
    <div class="col-md-4">
        <_Summary Description="Defines which items have which sports"
                  ImagePath="images/sports.jpg"  
                  Page="ItemTypeSports" 
                  Title="Item Type Sports" />
    </div> 
    <div class="col-md-4">
        <_Summary Description="Defines which items have which spots" 
                  ImagePath="images/spots.png"  
                  Page="ItemTypeSpots" 
                  Title="Item Type Spots" />
    </div> 
    <div class="col-md-4">
        <_Summary Description="Defines memorabilia items" 
                  ImagePath="images/itemtypes.jpg"  
                  Page="ItemTypes" 
                  Title="Item Types" />
    </div>                                            
</div>
<div class="row">
     <div class="col-md-4">
        <_Summary Description="Defines variations of jersey quality types" 
                  ImagePath="images/jerseytypes.jpg"  
                  Page="JerseyQualityTypes" 
                  Title="Jersey Quality Types" />
    </div>  
    <div class="col-md-4">
        <_Summary Description="Defines variations of jersey style types"  
                  ImagePath="images/jerseytypes.jpg"  
                  Page="JerseyStyleTypes" 
                  Title="Jersey Style Types" />
    </div> 
    <div class="col-md-4">
        <_Summary Description="Defines variations of jersey types"  
                  ImagePath="images/jerseytypes.jpg"  
                  Page="JerseyTypes" 
                  Title="Jersey Types" />
    </div>                                       
</div>
<div class="row">
    <div class="col-md-4">
        <_Summary Description="Defines leagues of a sport"  
                  ImagePath="images/sports.jpg"  
                  Page="Leagues" 
                  Title="Leagues" />
    </div> 
    <div class="col-md-4">
        <_Summary Description="Defines memorabila level types"  
                  ImagePath="images/jerseytypes.jpg"  
                  Page="LevelTypes" 
                  Title="Level Types" />
    </div>    
    <div class="col-md-4">
        <_Summary Description="Defines variations of magazine types" 
                  ImagePath="images/magazinetypes.jpg"  
                  Page="MagazineTypes" 
                  Title="Magazine Types" />
    </div>                                   
</div>
<div class="row">
    <div class="col-md-4">
        <_Summary Description="Defines occupations for a person" 
                  ImagePath="images/occupations.jpg"  
                  Page="Occupations" 
                  Title="Occupations" />
    </div> 
    <div class="col-md-4">
        <_Summary Description="Defines orientations of memorabilia"  
                  ImagePath="images/orientations.png"  
                  Page="Orientations" 
                  Title="Orientations" />
    </div> 
    <div class="col-md-4">
        <_Summary Description="Defines people"  
                  ImagePath="images/athletes.jpg"  
                  Page="People" 
                  Title="People" />
    </div>                      
</div>
<div class="row">
    <div class="col-md-4">
        <_Summary Description="Defines variations of pewters" 
                  ImagePath="images/assorted.jpeg"  
                  Page="Pewters" 
                  Title="Pewters" />
    </div>  
    <div class="col-md-4">
        <_Summary Description="Defines variations of photos" 
                  ImagePath="images/phototypes.jpg"  
                  Page="PhotoTypes" 
                  Title="Photo Types" />
    </div>  
    <div class="col-md-4">
        <_Summary Description="Defines the privacy types of memorabilia" 
                  ImagePath="images/privacy.png"  
                  Page="PrivacyTypes" 
                  Title="Privacy Types" />
    </div>                        
</div>
<div class="row">
    <div class="col-md-4">
        <_Summary Description="Defines variations of purchase types" 
                  ImagePath="images/purchasetypes.png"  
                  Page="PurchaseTypes" 
                  Title="Purchase Types" />
    </div>  
    <div class="col-md-4">
        <_Summary Description="Defines variations of sizes"  
                  ImagePath="images/sizes.jpg"  
                  Page="Sizes" 
                  Title="Sizes" />
    </div> 
    <div class="col-md-4">
        <_Summary Description="Defines variations of sport leagues"  
                  ImagePath="images/sports.jpg"  
                  Page="SportLeagueLevels" 
                  Title="Sport League Levels" />
    </div>             
</div>
<div class="row">
    <div class="col-md-4">
        <_Summary Description="Defines sports"  
                  ImagePath="images/sports.jpg"  
                  Page="Sports" 
                  Title="Sports" />
    </div> 
    <div class="col-md-4">
        <_Summary Description="Defines variations of autograph spots"  
                  ImagePath="images/spots.png"  
                  Page="Spots" 
                  Title="Spots" />
    </div> 
     <div class="col-md-4">
        <_Summary Description="Defines teams"
                  ImagePath="images/teams.jpg"  
                  Page="Teams" 
                  Title="Teams" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <_Summary Description="Defines variations of writing instruments"  
                  ImagePath="images/writinginstruments.jpg"  
                  Page="WritingInstruments" 
                  Title="Writing Instruments" />
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        var userId = await _localStorage.GetAsync<int>("UserId");

        if (userId.Value == 0)
            _navigation.NavigateTo("Login");
    }
}
