<MudDialog Style="max-height:85vh;">
    <DialogContent>
        <Condition Evaluation="Images.Any()">
            <Match>
                <Div Class="row" 
                     Style="text-align:center;">
                    <MudCarousel AutoCycle="true"
                                 ShowArrows="true"
                                 ShowBullets="true"
                                 Style="height:600px;width:600px;"
                                 TData="object">
                        <Iterations Context="image"
                                    Items="Images">
                            <MudCarouselItem Color="@MudBlazor.Color.Primary"
                                             Transition="Transition.Slide">
                                <MudImage Class="rounded-lg"
                                          Elevation="5"
                                          Height="600"
                                          ObjectFit="@ObjectFit.Fill"
                                          Src="@(ImageService.GetUserImageData(image.FileName))"
                                          Width="600" />
                            </MudCarouselItem>
                        </Iterations>
                    </MudCarousel>
                </Div>
            </Match>
        </Condition>
    </DialogContent>
    <DialogActions>
        <CustomButton OnClick="Close"
                      Text="Close" />
    </DialogActions>
</MudDialog>

