[*.{cs,vb}]

# IDE0305: Simplify collection initialization
dotnet_diagnostic.IDE0305.severity = none

# CA1816: Dispose methods should call SuppressFinalize
dotnet_diagnostic.CA1816.severity = none

# CA1859: Use concrete types when possible for improved performance
dotnet_diagnostic.CA1859.severity = none

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none
