@inherits EditItem<ItemTypeBrandEditModel, ItemTypeBrandModel>

<PageEditor DisplaySaveContinueButton="false"
            PageImageFileName="@EditModel.ImageFileName"
            EditModel="EditModel"
            OnSave="Save"
            TItem="ItemTypeBrandEditModel">
    <DivRowFormGroup>
        <Div Class="@DivClass.Column3">
            <ItemTypeAutoComplete Disabled="@(EditModel.Id > 0)"
                                  SelectedValue="EditModel.ItemType"
                                  SelectionChanged="(p) => EditModel.ItemType = p" />
        </Div>
    </DivRowFormGroup>
    <DivRowFormGroup>
        <Div Class="@DivClass.Column3">
            <BrandAutoComplete SelectedValue="EditModel.Brand"
                               SelectionChanged="(p) => EditModel.Brand = p" />
        </Div>
    </DivRowFormGroup>
</PageEditor>