<Div Class="@DivClass.Column3">
    <Text Typography="Typo.h6">
        Authentication Company: <b>@(PrivateSigningAuthenticationCompany.AuthenticationCompany?.Name)</b>
    </Text>
</Div>
<Div Class="@DivClass.Column3">
    <Text Typography="Typo.h6">
        Cost: <b>@(PrivateSigningAuthenticationCompany.Cost.ToString("c"))</b>
    </Text>
</Div>
