<Condition Evaluation="@(!PageLoaded)">
    <Match>
        <Div Class="spinnerDiv">
            <MudImage Class="spinnerImage"
                      Src="images/spinner.gif" />
        </Div>
    </Match>
    <NotMatch>
        @Content
    </NotMatch>
</Condition>