<Div Style="border: 1px solid black; margin-top: 2%; margin-bottom: 2%; margin-left: 2%; margin-right: 2%;">
    <Div Style="margin-top: 2%; margin-bottom: 2%; margin-left: 1%; margin-right: 1%;">
        @ChildContent
    </Div>
</Div>
