<PrettyBlazor.Condition Evaluation="!PageLoaded">
    <Match>
        <div class="spinnerDiv">
            <MudImage Class="spinnerImage"
                      Src="images/spinner.gif" />
        </div>
    </Match>
    <NotMatch>
        @Content
    </NotMatch>
</PrettyBlazor.Condition>