<MudDialog Style="max-height:85vh;overflow-y:auto;">
    <DialogContent>
        <Condition Evaluation="@_loggedIn">
            <Match>
                <SubscribeComponent />
            </Match>
            <NotMatch>
                <Div Style="margin-left:2%;margin-top:2%;margin-bottom:2%;">
                    <Text Typography="Typo.h1">
                        Sorry
                    </Text>
                    <Text Typography="Typo.body1">
                        You're not authorized to reach this page. You need to log in or register.
                    </Text>
                    <LoginRegisterControl />
                </Div>
            </NotMatch>
        </Condition>        
    </DialogContent>
    <DialogActions>
        <CancelButton OnClick="Cancel" />
    </DialogActions>
</MudDialog>
