@inherits MemorabiliaItem<BobbleheadEditModel>

<EditMemorabiliaPage EditModel="EditModel"
                     OnSave="OnSave" 
                     TItem="BobbleheadEditModel">
    <Content>
        <MemorabiliaItemEditor DisplayItemTypeBrand="false" 
                               DisplayItemTypeGameStyle="false"
                               DisplaySinglePersonSelector="true"
                               DisplaySingleSportSelector="true"
                               DisplaySingleTeamSelector="true"
                               Model="EditModel"
                               TItem="BobbleheadEditModel">
            <AdditionalContent>
                <DivRowFormGroup>
                    <Div Class="col-3">
                        <NullableIntField Label="Year"
                                          Maximum="int.MaxValue"
                                          Value="EditModel.Year"
                                          ValueChanged="@((p) => EditModel.Year = p)" />
                    </Div>
                    <Div Class="col-3">
                        <MudSwitch Checked="@EditModel.HasBox"
                                   CheckedChanged="(p) => EditModel.HasBox = p"
                                   Color="MudBlazor.Color.Success"
                                   Label="Has Box?"
                                   T="bool" />
                    </Div>
                </DivRowFormGroup>
            </AdditionalContent>
        </MemorabiliaItemEditor>
    </Content>
</EditMemorabiliaPage>