@inherits MemorabiliaItem<JerseyEditModel>

<EditMemorabiliaPage Item="EditModel"
                     OnLoad="OnLoad"
                     OnSave="OnSave" 
                     TItem="JerseyEditModel">
    <Content>
        <MemorabiliaItemEditor DisplayMultiPersonSelector="true"
                               DisplayMultiTeamSelector="true"
                               DisplaySingleSportSelector="true"
                               Model="EditModel"
                               TItem="JerseyEditModel">
            <AdditionalContent>
                <Div Class="row">
                    <Div Class="col-3">
                        <JerseyQualityTypeDropDown SelectedValue="EditModel.JerseyQualityTypeId"
                                                   SelectionChanged="(p) => EditModel.JerseyQualityTypeId = p" />
                    </Div>
                    <Div Class="col-3">
                        <JerseyTypeDropDown GameStyleType="EditModel.GameStyleType"
                                            SelectedValue="EditModel.JerseyTypeId"
                                            SelectionChanged="(p) => EditModel.JerseyTypeId = p" />
                    </Div>
                    <Div Class="col-3">
                        <JerseyStyleTypeDropDown SelectedValue="EditModel.JerseyStyleTypeId"
                                                 SelectionChanged="(p) => EditModel.JerseyStyleTypeId = p" />
                    </Div>
                </Div>
            </AdditionalContent>
        </MemorabiliaItemEditor>
    </Content>
</EditMemorabiliaPage>