@page "/Memorabilia/Dashboard"

<Page OnLoad="OnLoad">
    <Content>
        <PageHeader PageTitle="@_viewModel.PageTitle" />   
        <div class="row">
            <Iterations Items="_viewModel.UserDashboardItems" Context="userDashboardItem">
                <div class="col-md-4">
                    <UserDashboardItem DashboardItem="userDashboardItem.DashboardItem"
                                       Data="userDashboardItem.DataNew"
                                       Labels="userDashboardItem.Labels" />
                </div> 
            </Iterations>
        </div>  
    </Content>
</Page>
