@page "/Memorabilia"

@using Memorabilia.Application.Features.Memorabilia

<_Page>
    <Content>
        <div class="row">
            <div class="col-md-12" style="text-align: center">
                <h1>My Memorabilia</h1>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <_Summary ImagePath="images/autographs.jpg"  
                          Page="Memorabilia/Edit" 
                          Title="Add Memorabilia Item" />
            </div>
            <div class="col-md-4">
                <_Summary ImagePath="images/autographs.jpg"  
                          Page="Memorabilia/Items" 
                          Title="View Memorabilia Items" />
            </div>
        </div>
    </Content>
</_Page>

@code {
}
