<HiddenControl Visible="Visible">
    <Div Class="row">
        <Div Class="col-12"
             Style="text-align:center">
            @ChildContent
        </Div>
    </Div>
    <HiddenControl Visible="IncludePageBreakAtEnd">
        <br />
    </HiddenControl>
</HiddenControl>