<Div Class="row">
    <Div Class="col-12" 
         Style="text-align:center">
        @ChildContent
    </Div>
</Div>
<Condition Evaluation="IncludePageBreakAtEnd">
    <Match>
        <br />
    </Match>
</Condition>
