@inherits EditItem<ItemTypeGameStyleEditModel, ItemTypeGameStyleModel>

<PageEditor DisplaySaveContinueButton="false"
            PageImageFileName="@EditModel.ImageFileName"
            EditModel="EditModel"
            OnSave="Save"
            TItem="ItemTypeGameStyleEditModel">
    <DivRowFormGroup>
        <Div Class="@DivClass.Column3">
            <ItemTypeAutoComplete Disabled="@(EditModel.Id > 0)"
                                  SelectedValue="EditModel.ItemType"
                                  SelectionChanged="(p) => EditModel.ItemType = p" />
        </Div>
    </DivRowFormGroup>
    <DivRowFormGroup>
        <Div Class="@DivClass.Column3">
            <GameStyleTypeDropDown SelectedValue="EditModel.GameStyleTypeId"
                                   SelectionChanged="(p) => EditModel.GameStyleTypeId = p" />
        </Div>
    </DivRowFormGroup>
</PageEditor>