@inherits MemorabiliaItem<GloveEditModel>

<EditMemorabiliaPage Item="EditModel"
                     OnSave="OnSave" 
                     TItem="GloveEditModel">
    <Content>
        <MemorabiliaItemEditor DisplayMultiPersonSelector="true"
                               DisplayMultiTeamSelector="true"
                               DisplaySingleSportSelector="true"
                               Model="EditModel"
                               TItem="GloveEditModel">
            <AdditionalContent>
                <Div Class="row">
                    <Div Class="col-3">
                        <GloveTypeDropDown SelectedValue="EditModel.GloveTypeId"
                                           SelectionChanged="(p) => EditModel.GloveTypeId = p"
                                           Sport="@EditModel.Sport" />
                    </Div>
                </Div>
            </AdditionalContent>
        </MemorabiliaItemEditor>
    </Content>
</EditMemorabiliaPage>