<HistoryDialog>
    <Content>
        <Div Style="@($"{Style.MarginPad1}{Style.VertificalScrollbar}")">
            <MemorabiliaHistoryGrid MemorabiliaId="MemorabiliaId" />
        </Div>
    </Content>
</HistoryDialog>
