<div class="row"
     hidden="@Hidden"
     style=@($"margin-top: 1%; margin-bottom: 1%; padding-left: {LeftPadding}px;")>
    <div class="col-lg-1">
        @Content 
    </div>     
    <div class="col-lg-1">
        @ContentColumn2 
    </div> 
    <div class="col-lg-1">
        @ContentColumn3 
    </div> 
    <div class="col-lg-1">
        @ContentColumn4 
    </div> 
    <div class="col-lg-1">
        @ContentColumn5 
    </div> 
    <div class="col-lg-1">
        @ContentColumn6 
    </div> 
    <div class="col-lg-1">
        @ContentColumn7 
    </div> 
    <div class="col-lg-1">
        @ContentColumn8 
    </div> 
    <div class="col-lg-1">
        @ContentColumn9 
    </div> 
    <div class="col-lg-1">
        @ContentColumn10 
    </div> 
    <div class="col-lg-1">
        @ContentColumn11 
    </div> 
    <div class="col-lg-1">
        @ContentColumn12 
    </div> 
</div> 
