@using Memorabilia.Application.Features.Admin.Condition
@using Domain.Constants

<InputSelect id="ConditionDropDown" class="form-control" @bind-Value="@Value" @oninput="@OnInputChange" >
    <option value="0">--Select--</option>
    @foreach (var condition in Condition.All)
    {
        <option value="@condition.Id">@condition.Name</option>
    }
</InputSelect>

@code {
    [Parameter]
    public Condition InitialValue { get; set; }

    [Parameter]
    public int Value { get; set; }

    [Parameter]
    public EventCallback<int> ValueChanged { get; set; }

    protected override Task OnInitializedAsync()
    {
        Value = InitialValue?.Id ?? Condition.Pristine.Id;            

        return base.OnInitializedAsync();
    }

    private async Task OnInputChange(ChangeEventArgs args)
    {
        Value = Convert.ToInt32(args.Value);
        await ValueChanged.InvokeAsync(Value);
    }
}

