@using Memorabilia.Application.Features.Admin.Condition

<InputSelect class="form-control" id="ConditionDropDown" @bind-Value="@Value" @oninput="@OnInputChange" >
    <option value="0">--Select--</option>
    @foreach (var condition in Condition.All)
    {
        <option value="@condition.Id">@condition.Name</option>
    }
</InputSelect>

@code {
    [Parameter]
    public Condition InitialValue { get; set; }

    [Parameter]
    public int Value { get; set; }

    [Parameter]
    public EventCallback<int> ValueChanged { get; set; }

    protected override Task OnInitializedAsync()
    {
        if (InitialValue?.Id > 0)
            Value = InitialValue.Id;            

        return base.OnInitializedAsync();
    }

    private async Task OnInputChange(ChangeEventArgs args)
    {
        Value = Convert.ToInt32(args.Value);
        await ValueChanged.InvokeAsync(Value).ConfigureAwait(false);
    }
}

