@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            @*<a href="Settings">Settings</a>*@
            @*<a href="Login" hidden="@_isHidden">Log in</a>*@
            <a href="Logout">Log out</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>

    <BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.TopCenter"
                    ShowProgressBar="true"
                    Timeout="2" />
</div>

@code {
    //private bool _isHidden;

    //protected override async Task OnInitializedAsync()
    //{
    //    var userId = await _localStorage.GetAsync<int>("UserId");

    //    _isHidden = userId.Value > 0;
    //}
}
