@page "/GameStyleTypes/Edit/{id:int}"

@using Memorabilia.Application.Features.Admin
@using Memorabilia.Application.Features.Admin.GameStyleType
@using Memorabilia.Web.Controls.GameStyleType

@inject CommandRouter _commandRouter
@inject ProtectedLocalStorage _localStorage
@inject NavigationManager _navigation
@inject QueryRouter _queryRouter
@inject IToastService _toastService

@if (_viewModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <_GameStyleTypeEditor EditModeType="@_editModeType" 
                          Item="@_viewModel"                  
                          OnSave="Save" />
}

@code {
    [Parameter]
    public int Id { get; set; }

    private EditModeType _editModeType;
    private SaveDomainViewModel _viewModel = new SaveDomainViewModel();   

    protected override async Task OnInitializedAsync()
    {
        var query = new GetGameStyleType.Query(Id);

        _viewModel = new SaveDomainViewModel(await _queryRouter.Send(query).ConfigureAwait(false));
    }

     protected async Task Save()
    {
        _editModeType = Id > 0 ? EditModeType.Edit : EditModeType.Add;

        if (Id == 0)
            return;

        var command = new SaveGameStyleType.Command(_viewModel);

        await _commandRouter.Send(command).ConfigureAwait(false);
    }
}
