<Div Style="@Style.MarginPad1">
    <RowStack>
        <Image Class="@ImageClass"
               Height="70"
               ImageData="@(ImageService.GetUserImageData(Image.ImageFileName, ApplicationStateService.CurrentUser.Id))"
               Width="70" />
        <Fab Color="MudBlazor.Color.Secondary"
             OnClick="RemoveImage"
             Size="MudBlazor.Size.Small"
             StartIcon="@Icons.Material.Outlined.Delete"
             TooltipText="Remove Image" />
    </RowStack>
</Div>
