<Stack>
    <Iterations Items="Images">
        <Div Class="@DivClass.Column2">
            <UserMessageImage Image="context"
                              ImageRemoved="OnImageRemoved" />
        </Div>
    </Iterations>
</Stack>

