<MudStack>
    <Iterations Items="Images">
        <Div Class="col-2">
            <UserMessageImage Image="context"
                              ImageRemoved="OnImageRemoved" />
        </Div>
    </Iterations>
</MudStack>

