<DivPad2>
    <Div Class="row">
        <Div Style="width:32%;">
            <SubscriberLevel Features="Feature.Tier1"
                             OnSelect="OnTier1Select"
                             SubscriptionPrice="@_tier1Price"
                             Title="Tier 1: Casual Collector" />
        </Div>
        <Div Style="width:32%;">
            <SubscriberLevel Features="Feature.Tier2"
                             OnSelect="OnTier2Select"
                             SubscriptionPrice="@_tier2Price"
                             Title="Tier 2: Hardcore Collector" />
        </Div>
        <Div Style="width:32%;">
            <SubscriberLevel Features="Feature.All"
                             OnSelect="OnPromoterSelect"
                             SubscriptionPrice="@_promoterPrice"
                             Title="Tier 3: Promoter" />
        </Div>
    </Div>
</DivPad2>

