@inherits MemorabiliaItem<PosterEditModel>

<EditMemorabiliaPage ContinueNavigationPath="@($"{NavigationPath.MemorabiliaImage}/{EditModeType.Update.Name}/{DataProtectorService.EncryptId(MemorabiliaId)}")" 
                     EditModel="EditModel"
                     ExitNavigationPath="@NavigationPath.Memorabilia"
                     OnSave="OnSave" 
                     TItem="PosterEditModel">
    <Content>
        <MemorabiliaItemEditor DisplayItemTypeBrand="false" 
                               DisplayItemTypeGameStyle="false"
                               DisplayItemTypeLevel="false"
                               DisplayMultiPersonSelector="true"
                               DisplayMultiSportSelector="true"
                               DisplayMultiTeamSelector="true"
                               Model="EditModel"
                               TItem="PosterEditModel">
            <AdditionalContent>
                <DivRowFormGroup>
                    <Div Class="col-3">
                        <OrientationDropDown SelectedValue="EditModel.OrientationId"
                                             SelectionChanged="(p) => EditModel.OrientationId = p" />
                    </Div>
                </DivRowFormGroup>
                <DivRowFormGroup>
                    <Div Class="col-3">
                        <Switch Checked="@EditModel.Matted"
                                CheckedChanged="(p) => EditModel.Matted = p"
                                Label="Is Matted?" />
                    </Div>
                </DivRowFormGroup>
            </AdditionalContent>
        </MemorabiliaItemEditor>
    </Content>
</EditMemorabiliaPage>