@using Memorabilia.Application.Features.Admin.Commissioner
@using Memorabilia.Domain.Constants

@inject QueryRouter _queryRouter

<InputSelect class="form-control" id="commissioner" @bind-Value="@Value" @oninput="@OnInputChange">
    <option value="0">--Select--</option>
    @foreach (var commissioner in _commissioners)
    {
        <option value="@commissioner.Id">@commissioner.PersonName</option>
    }
</InputSelect>

@code {
    [Parameter]
    public Sport Sport { get; set; }

    [Parameter]
    public int Value { get; set; }  

    [Parameter]
    public EventCallback<int> ValueChanged { get; set; }

    private IEnumerable<CommissionerViewModel> _commissioners = Enumerable.Empty<CommissionerViewModel>();

    protected override async Task OnInitializedAsync()
    {
        await Load().ConfigureAwait(false);
    }    

    private async Task Load()
    {
        var query = new GetCommissioners.Query(Sport.Id);

        _commissioners = (await _queryRouter.Send(query).ConfigureAwait(false)).Commissioners;
    }

    private async Task OnInputChange(ChangeEventArgs args)
    {
        Value = Convert.ToInt32(args.Value);
        await ValueChanged.InvokeAsync(Value);
    }    
}

