@page "/Login"

@using Memorabilia.Application.Features.User
@using Memorabilia.Application.Features.User.Login

@inject NavigationManager _navigation
@inject ProtectedLocalStorage _localStorage
@inject QueryRouter _queryRouter

@if (_viewModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            <h1>@_viewModel.PageTitle</h1>
        </div>
    </div>
    <br />
    <div style="border: 1px solid black; margin-top: 5%; margin-bottom: 5%; margin-left: 25%; margin-right: 25%;">
        <div class="row" style="margin-top: 1%; margin-bottom: 1%; margin-left: 1%; margin-right: 1%;">
            <div class="col-lg-12" style="text-align: center;">
                <img src="images/MiniHelmets.jpg" alt="Image" height="150" width="150" />
            </div>
        </div>
        <div class="row" style="margin-top: 5%; margin-bottom: 5%; margin-left: 5%; margin-right: 5%;">
            <div class="col-md-4" />
            <span class="col-md-4" style="text-align: center">
                <EditForm Model="_viewModel" OnValidSubmit="HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="form-group" style="text-align: left">
                        <label for="username">User Name</label>
                        <InputText id="username" @bind-Value="_viewModel.Username" class="form-control" />
                    </div>
                    <div class="form-group" style="text-align: left">
                        <label for="password">Password</label>
                        <InputText id="password" type="password" @bind-Value="_viewModel.Password" class="form-control" />
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12" style="text-align: center">
                            <a href="Register">Register</a>
                        </div>
                    </div>
                </EditForm>
            </span>
        </div>
    </div>    
}

@code {
    private LoginUserViewModel _viewModel = new LoginUserViewModel();

    protected async Task HandleValidSubmit()
    {
        var query = new GetUser.Query(_viewModel.Username, _viewModel.Password);
        var viewModel = await _queryRouter.Send(query).ConfigureAwait(false);

        if (!viewModel.IsValid || viewModel.Id == 0)
        {
            //Didn't find user

            return;
        }

        await _localStorage.SetAsync("UserId", viewModel.Id).ConfigureAwait(false);

        _navigation.NavigateTo("Home");
    }

    protected override async Task OnInitializedAsync()
    {
        var userId = await _localStorage.GetAsync<int>("UserId").ConfigureAwait(false);

        if (userId.Value > 0)
            _navigation.NavigateTo("Home");
    }
}
