@page "/Settings"

<Page>
    <Content>
        <PageHeader PageTitle="@_viewModel.PageTitle" /> 
        <div class="row" style="margin-top: 2%; margin-bottom: 2%; margin-left: 2%; margin-right: 2%;">
            <div class="col-md-4">
                <DomainItemCard ImagePath="images/dashboard.jpg"  
                                Page="User/ManageDashboard" 
                                Title="Manage Dashboard" />
            </div>
        </div>
    </Content>
</Page>