@inherits MemorabiliaItem<FootballEditModel>

<EditMemorabiliaPage Item="EditModel"
                     OnSave="OnSave" 
                     TItem="FootballEditModel">
    <Content>
        <MemorabiliaItemEditor DisplaySinglePersonSelector="true"
                               DisplaySingleTeamSelector="true"
                               Model="EditModel"
                               TItem="FootballEditModel">
            <AdditionalContent>
                <DivRowFormGroup>
                    <Div Class="col-3">
                        <FootballTypeDropDown GameStyleType="EditModel.GameStyleType"
                                              SelectedValue="EditModel.FootballTypeId"
                                              SelectionChanged="(p) => EditModel.FootballTypeId = p" />
                    </Div>
                    <Div Class="col-3">
                        <CommissionerDropDown SelectedValue="@EditModel.CommissionerId"
                                              SelectionChanged="(p) => EditModel.CommissionerId = p"
                                              SportLeagueLevel="@SportLeagueLevel.NationalFootballLeague" />
                    </Div>
                </DivRowFormGroup>
            </AdditionalContent>
        </MemorabiliaItemEditor>
    </Content>
</EditMemorabiliaPage>