@using Memorabilia.Application.Features.Admin.PrivacyType
@using Memorabilia.Domain.Constants

<InputSelect id="PrivacyTypeDropDown" class="form-control" @bind-Value="@Value" @oninput="@OnInputChange" >
    <option value="0">--Select--</option>
    @foreach (var privacyType in PrivacyType.All)
    {
        <option value="@privacyType.Id">@privacyType.Name</option>
    }
</InputSelect>

@code {
    [Parameter]
    public PrivacyType InitialValue { get; set; }

    [Parameter]
    public int Value { get; set; }

    [Parameter]
    public EventCallback<int> ValueChanged { get; set; }

    protected override Task OnInitializedAsync()
    {
        Value = InitialValue?.Id ?? PrivacyType.Public.Id;

        return base.OnInitializedAsync();
    }

    private async Task OnInputChange(ChangeEventArgs args)
    {
        Value = Convert.ToInt32(args.Value);
        await ValueChanged.InvokeAsync(Value);
    }
}

