@inherits MemorabiliaItem<FigureEditModel>

<EditMemorabiliaPage Item="EditModel"
                     OnSave="OnSave" 
                     TItem="FigureEditModel">
    <Content>
        <MemorabiliaItemEditor DisplayItemTypeGameStyle="false" 
                               DisplayMultiPersonSelector="true"
                               DisplayMultiTeamSelector="true"
                               DisplaySingleSportSelector="false"
                               DisplayMultiSportSelector="true"
                               Model="EditModel"
                               TItem="FigureEditModel" >
            <AdditionalContent>
                <DivRowFormGroup>
                    <Div Class="col-3">
                        <NullableIntField Label="Year"
                                          Maximum="int.MaxValue"
                                          Value="EditModel.Year"
                                          ValueChanged="@((p) => EditModel.Year = p)" />
                    </Div>
                    <Div Class="col-3">
                        <FigureTypeDropDown SelectedValue="EditModel.FigureTypeId"
                                            SelectionChanged="(p) => EditModel.FigureTypeId = p" />
                    </Div>
                    <Div Class="col-3">
                        <FigureSpecialtyTypeDropDown FigureType="EditModel.FigureType"
                                                     SelectedValue="EditModel.FigureSpecialtyTypeId"
                                                     SelectionChanged="(p) => EditModel.FigureSpecialtyTypeId = p" />
                    </Div>
                </DivRowFormGroup>
            </AdditionalContent>
        </MemorabiliaItemEditor>   
    </Content>
</EditMemorabiliaPage>