@inherits EditItem<ItemTypeSizeEditModel, ItemTypeSizeModel>

<PageEditor DisplaySaveContinueButton="false"
            PageImageFileName="@EditModel.ImageFileName"
            EditModel="EditModel"
            OnSave="Save"
            TItem="ItemTypeSizeEditModel">
    <DivRowFormGroup>
        <Div Class="@DivClass.Column3">
            <ItemTypeAutoComplete Disabled="@(EditModel.Id > 0)"
                                  SelectedValue="EditModel.ItemType"
                                  SelectionChanged="(p) => EditModel.ItemType = p" />
        </Div>
    </DivRowFormGroup>
    <DivRowFormGroup>
        <Div Class="@DivClass.Column3">
            <SizeAutoComplete SelectedValue="EditModel.Size"
                              SelectionChanged="(p) => EditModel.Size = p" />
        </Div>
    </DivRowFormGroup>
</PageEditor>