@inherits MemorabiliaItem<BatEditModel>

<EditMemorabiliaPage EditModel="EditModel"
                     OnSave="OnSave" 
                     TItem="BatEditModel">
    <Content>
        <MemorabiliaItemEditor DisplayItemTypeLevel="false" 
                               DisplaySinglePersonSelector="true"
                               DisplaySingleTeamSelector="true"
                               Model="EditModel"
                               TItem="BatEditModel">
            <AdditionalContent>
                <DivRowFormGroup>
                    <Div Class="col-3">
                        <BatTypeDropDown GameStyleType="EditModel.GameStyleType"
                                         SelectedValue="EditModel.BatTypeId"
                                         SelectionChanged="(p) => EditModel.BatTypeId = p" />
                    </Div>
                    <Div Class="col-3">
                        <ColorDropDown ItemType="EditModel.ItemType"
                                       SelectedValue="EditModel.ColorId"
                                       SelectionChanged="(p) => EditModel.ColorId = p" />
                    </Div>
                    <Div Class="col-3">
                        <NullableIntField Label="Length"
                                          Maximum="int.MaxValue"
                                          Value="EditModel.Length"
                                          ValueChanged="@((p) => EditModel.Length = p)" />
                    </Div>
                </DivRowFormGroup>
            </AdditionalContent>
        </MemorabiliaItemEditor>
    </Content>
</EditMemorabiliaPage>