<DivRowCol12>
    <Div Class="@DivClass.Column6">
        <OccupationAutoComplete SelectedValue="SelectedOccupation"
                                SelectionChanged="(p) => SelectedOccupation = p" />
    </Div>
</DivRowCol12>
