<DivRowCol12>
    <Div Class="col-6">
        <OccupationAutoComplete SelectedValue="SelectedOccupation"
                                SelectionChanged="(p) => SelectedOccupation = p" />
    </Div>
</DivRowCol12>
