<Div Style="border:1px solid black;margin-top:2%;margin-bottom:2%;margin-left:2%;margin-right:2%;"
     Visible="Alerts.Any()">
    <ExpansionPanel Text="Alerts">
        <Iterations Items="@Alerts">
            <Div Class="row"
                 Style="text-align:left;margin-top:1%;margin-bottom:1%;margin-left:1%;margin-right:1%;">
                <AlertBox Severity="context.Severity"
                          ShowCloseIcon="ShowCloseIcon"
                          Text="@context.Message" />
            </Div>
        </Iterations>
    </ExpansionPanel>
</Div>
